<div class="container">
    <div class="row">

        <div class="col-1 col-md-2 col-lg-2">
        </div>

        <div class="col-10 col-md-8 col-lg-8 py-5">
            <div class="d-flex justify-content-center">
                <div class="card bg-light text-primary rounded">
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <i class="csat-key-out-lg mx-auto mb-3"></i>
                            <p class="p-title text-center">{{ 'A jelszócsere sikeres volt.' | _ }}</p>
                            <p class="p-title text-center">{{ 'Bejelentkezhetsz az új jelszóval.' | _ }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1 col-md-2 col-lg-2">
        </div>

    </div>
</div>
