<div class="row">
    {% if not __SELF__.hideSeparator %}
        {% partial 'DesignSystem/horizontal-separator' %}
    {% endif %}
    <h2 class="pb-2">{{ __SELF__.title }}</h2>

    <div class="d-flex flex-wrap justify-content-evenly">
        {% for logo in __SELF__.logos %}
            <div class="logo-container {{ logo.class }}">
                <a href="{{ logo.address }}" target="_blank">
                    <img src="{{ ('assets/images' ~ logo.logo) | theme }}" alt="{{ logo.name }}" class="mx-auto d-block logo-size img-fluid">
                </a>
            </div>
        {% endfor %}
    </div>
</div>
