/* Fonts */

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.eot');
    src: url('../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.woff') format('woff'),
         url('../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Bold-Webfont/geomanist-bold-webfont.svg#geomanistregular') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Bold-Italic-Webfont/geomanist-bold-italic-webfont.eot');
    src: url('../font/Geomanist-Bold-Italic-Webfont/geomanist-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Bold-Italic-Webfont/geomanist-bold-italic-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Bold-Italic-Webfont/geomanist-bold-italic-webfont.woff') format('woff'),
         url('../font/Geomanist-Bold-Italic-Webfont/geomanist-bold-italic-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Bold-Italic-Webfont/geomanist-bold-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.eot');
    src: url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.woff') format('woff'),
         url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.svg#geomanistregular') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.eot');
    src: url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.woff') format('woff'),
         url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot');
    src: url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff') format('woff'),
         url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.eot');
    src: url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.woff') format('woff'),
         url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.eot');
    src: url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.woff') format('woff'),
         url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.eot');
    src: url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.woff') format('woff'),
         url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: 300;
    font-style: italic;

}

body {
    font-family: 'geomanist';
}

h1 {
    font-family: geomanist !important;
    font-weight: 700;
    font-size: 2.5625rem;
}

h2 {
    font-family: geomanist !important;
    font-weight: 700;
    font-size: 1.5625rem;
}

h3 {
    font-family: geomanist !important;
    font-weight: 700;
    font-size: 1.1875rem;
}

h4 {
    font-family: geomanist !important;
    font-weight: 400;
    font-size: 1.1875rem;
}

h5 {
    font-family: geomanist !important;
    font-weight: 500;
    font-size: 1.0625rem;
}

h6 {
    font-family: geomanist !important;
    font-weight: 500;
    font-size: 1.3125rem;
}

p {
    font-family: geomanist !important;
    font-size: 1.0625rem;
    line-height: 1.3;
}

.p-light {
    font-family: geomanist !important;
    font-weight: 300;
    font-size: 1.0625rem;
    line-height: 1.3;
}

.p-bold {
    font-family: geomanist !important;
    font-weight: 700;
    font-size: 1.0625rem;
    line-height: 1.3;
}

.p-small {
    font-family: geomanist !important;
    font-weight: 300;
    font-size: .9375rem;
    line-height: 1.3;
}

.p-title {
    font-family: geomanist !important;
    font-weight: 500;
    font-size: .9375rem;
    line-height: 1.3;
}

a {
    font-family: geomanist !important;
    font-size: 1.0625rem;
}

/* Color settings */
    
.bg-primary {
    background-color: #78863F !important; 
}

.bg-primary-hover {
    background-color: #99A56B !important;
}

.bg-secondary {
    background-color: #FFCE00 !important;
}

.bg-secondary-hover {
    background-color: #FFF0B2;
}

.bg-info {
    background-color: #63511C !important;
}

.bg-info-hover {
    background-color: #9D802F;
}

.bg-danger {
    background-color: #B83222 !important;
}

.bg-danger-hover {
    background-color: #FFC5C1;
}

.bg-background2 {
    background-color: #E0C89D;
}

.bg-gray {
    background-color: #DDDDDD;
}

.subtitle {
    background-color: #939393;
}

.text-subtitle {
    color: #939393;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-light {
    background-color: #F5F5F5 !important;
}

a:link, a:visited, a:active {
    color:#FFCE00;
}

a:hover {
    color:#FFF0B2;
}

/* Button color and font settings */

.btn-primary {
    color: #fff;
    background-color: #78863F;
    border-color: #78863F;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #99A56B;
    border-color: #99A56B;
}

.btn-light {
    color: #78863F;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
    color: #78863F;
    background-color: #FFFFFF;
    border-color: #F5F5F5;
}

.btn {
    font-family: geomanist !important;
    font-weight: 500 !important;
    font-size: .9375rem !important;
    padding: 2;
    margin: 2;
  }

/* Setting the radius properties to 12px */

.rounded {
    border-radius: 12px !important;
}
  
.rounded-pill {
    border-radius: 12px !important;
}
  
.rounded-top {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
  
.rounded-end {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}
  
.rounded-bottom {
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}
  
.rounded-start {
    border-bottom-left-radius: 12px !important;
    border-top-left-radius: 12px !important;
}

/* ICONS */

/* paths */
.gear-fill-sm:before, .gear-fill-md:before, .gear-fill-lg:before {content: url(../images/symbols/gear_green_fill.svg);}
.gear-out-sm:before, .gear-out-md:before, .gear-out-lg:before {content: url(../images/symbols/gear_green_out.svg);}
.key-fill-sm:before, .key-fill-md:before, .key-fill-lg:before {content: url(../images/symbols/key_green_fill.svg);}
.key-out-sm:before, .key-out-md:before, .key-out-lg:before {content: url(../images/symbols/key_green_out.svg);}
.magnifier-fill-sm:before, .magnifier-fill-md:before, .magnifier-fill-lg:before {content: url(../images/symbols/magnifier_green_fill.svg);}
.magnifier-out-sm:before, .magnifier-out-md:before, .magnifier-out-lg:before {content: url(../images/symbols/magnifier_green_out.svg);}
.exit-fill-sm:before, .exit-fill-md:before, .exit-fill-lg:before {content: url(../images/symbols/exit_green_fill.svg);}
.exit-out-sm:before, .exit-out-md:before, .exit-out-lg:before {content: url(../images/symbols/exit_green_out.svg);}

/* small size */
.gear-fill-sm:before, .gear-out-sm:before, .key-fill-sm:before, .key-out-sm:before, .magnifier-fill-sm:before, .magnifier-out-sm:before, .exit-fill-sm:before, .exit-out-sm:before {
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
}

/* medium size */
.gear-fill-md:before, .gear-out-md:before, .key-fill-md:before, .key-out-md:before, .magnifier-fill-md:before, .magnifier-out-md:before, .exit-fill-md:before, .exit-out-md:before {
    display: inline-block;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0;
}

/* large size */
.gear-fill-lg:before, .gear-out-lg:before, .key-fill-lg:before, .key-out-lg:before, .magnifier-fill-lg:before, .magnifier-out-lg:before, .exit-fill-lg:before, .exit-out-lg:before {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
}

/* FORMS */

.form-control {
    background-color: #DDDDDD;
    border-color: #DDDDDD;
}

.form-control:focus {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
}

.form-check-input {
    border: 2px solid #78863F;
}

.form-check-input:focus {
    border-color: #99A56B;
}

.form-check-input:checked {
    background-color: #78863F;
    border-color: #78863F;
}

.form-check-input[type=checkbox]:indeterminate {
    background-color: #78863F;
    border-color: #78863F;
}
