/* Fonts */

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.eot');
    src: url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.woff') format('woff'),
         url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Medium-Webfont/geomanist-medium-webfont.svg#geomanistregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.eot');
    src: url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.woff') format('woff'),
         url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Medium-Italic-Webfont/geomanist-medium-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot');
    src: url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff') format('woff'),
         url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Regular-Webfont/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.eot');
    src: url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.woff') format('woff'),
         url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Regular-Italic-Webfont/geomanist-regular-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.eot');
    src: url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.woff') format('woff'),
         url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Light-Webfont/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.eot');
    src: url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.woff2') format('woff2'),
         url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.woff') format('woff'),
         url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.ttf') format('truetype'),
         url('../font/Geomanist-Light-Italic-Webfont/geomanist-light-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: 200;
    font-style: italic;

}

body {
    font-family: 'geomanist';
}

h1, .h1 {
    font-family: geomanist !important;
    font-weight: 400;
    font-size: calc(1.7rem + 1vw);
}
@media (min-width: 1000px) {
    h1, .h1 {
      font-size: 2rem;
    }
}

h2, .h2 {
    font-family: geomanist !important;
    font-weight: 400;
    font-size: calc(1.5rem + 1vw);
}
@media (min-width: 1000px) {
    h2, .h2 {
      font-size: 1.6rem;
    }
}

h3, .h3 {
    font-family: geomanist !important;
    font-weight: 400;
    font-size: calc(1.3rem + 1vw);
}
@media (min-width: 1000px) {
    h3, .h3 {
      font-size: 1.4rem;
    }
}

h4, .h4 {
    font-family: geomanist !important;
    font-weight: 400;
    font-size: calc(1.1rem + 0.8vw);
}
@media (min-width: 1000px) {
    h4, .h4 {
      font-size: 1.2rem;
    }
}

h5, .h5 {
    font-family: geomanist !important;
    font-weight: 400;
    font-size: calc(0.9rem + 0.8vw);
}
@media (min-width: 1000px) {
    h5, .h5 {
      font-size: 1.1rem;
    }
}

h6, .h6 {
    font-family: geomanist !important;
    font-weight: 400;
    font-size: calc(0.7rem + 0.8vw);
}
@media (min-width: 1000px) {
    h6, .h6 {
      font-size: 1rem;
    }
}

p {
    font-family: geomanist !important;
    font-weight: 300;
    font-size: calc(0.9rem + 0.2vw);
    line-height: 1.7;
}

p.justify {
    text-align: justify;
}

.p-light {
    font-family: geomanist !important;
    font-weight: 200;
    font-size: calc(0.9rem + 0.2vw);
    line-height: 1.7;
}

.p-bold {
    font-family: geomanist !important;
    font-weight: 400;
    font-size: calc(0.9rem + 0.2vw);
    line-height: 1.7;
}

.p-small {
    font-family: geomanist !important;
    font-weight: 200;
    font-size: calc(0.8rem + 0.2vw);
    line-height: 1.7;
}

.p-title {
    font-family: geomanist !important;
    font-weight: 400;
    font-size: calc(0.8rem + 0.2vw);
    line-height: 1.7;
}

.errormsg, .invalid-feedback {
    font-family: geomanist !important;
    font-weight: 300;
    font-size: calc(0.6rem + 0.5vww) !important;
}

a {
    font-family: geomanist !important;
    font-weight: 300;
}

::placeholder {
    font-weight: 300;
}

label {
    font-weight: 300;
}

.font-pw-400 {
    font-weight: 400;
}

.font-pw-300 {
    font-weight: 300;
}

.font-pw-200 {
    font-weight: 200;
}

/* Color settings */

.swatch {
    width: 140px;
    height: 70px;
}

.swatch-narrow {
    width: 140px;
    height: 50px;
}

.bg-primary {
    background-color: #78863F !important;
}

.text-primary {
    color: #78863F !important;
}

.bg-primary-hover {
    background-color: #99A56B !important;
}

.bg-secondary {
    background-color: #FFCE00 !important;
}

.text-secondary {
    color: #FFCE00 !important;
}

.bg-secondary-hover {
    background-color: #FFF0B2;
}

.bg-info {
    background-color: #63511C !important;
}

.text-info {
    color: #63511C !important;
}

.bg-info-hover {
    background-color: #9D802F;
}

.bg-danger {
    background-color: #B83222 !important;
}

.text-danger {
    color: #B83222 !important;
}

.bg-danger-hover {
    background-color: #FFC5C1;
}


.bg-background2 {
    background-color: #E0C89D;
}

.text-background2 {
    color: #E0C89D;
}

.bg-gray {
    background-color: #DDDDDD;
}

.text-gray {
    color: #DDDDDD;
}

.subtitle {
    background-color: #939393;
}

.text-subtitle {
    color: #939393;
}

.bg-error {
    background-color: #FFC5C1;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-light {
    background-color: #F5F5F5 !important;
}

.text-light {
    color: #F5F5F5 !important;
}

a:link, a:visited, a:active {
    color:#FFCE00;
}

a:hover {
    color: #FFF0B2;
}

.code-blue {
    color:#2f6f9f;
}

.code-bluel {
    color:#006ee0;
}

.code-red {
    color:#d73038;
}

.form-control::placeholder {
    color: #78863F;
}

.form-control::-ms-input-placeholder {
    color: #78863F;
}

.form-control::-ms-input-placeholder {
    color: #78863F;
 }

.errormsg, .invalid-feedback {
    color: #B83222 !important;
}

/* Flash messages settings */

.btn-warning {
    background-color: #FFCE00;
    border-color: #FFCE00;
    color: #555555 !important;
}

body>p.flash-message.warning {
    background: #FFCE00 !important;
    color: #303030;
}

.alert-success {
    color: #ffffff;
    background-color: #78863F;
}

/* Accordion color setting*/

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #78863F;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Nav and menu settings */

a.nav:link, a.nav:visited, a.nav:active {
    display: block;
    padding: 0.3rem 0.5rem;
    color: #F5F5F5 !important;
    text-decoration: none;
    font-weight: 300;
    font-size: calc(0.9rem + 0.2vw);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .nav-link {
      transition: none;
    }
}

a.dropdown-item {
    color: #F5F5F5 !important;
    padding-left: 20px;
}

.dropdown-menu {
    font-weight: 300;
    font-size: calc(0.9rem + 0.2vw);
    color: #F5F5F5 !important;
    border: 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.dropdown-item {
    font-weight: 300;
    font-size: calc(0.9rem + 0.2vw);
    color: #F5F5F5 !important;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .dropdown-item:active {
    color: #78863F !important;
    background-color: #e9ecef;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

/* Button color and font settings */

.btn-primary {
    color: #ffffff;
    background-color: #78863F;
    border-color: #78863F;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #99A56B;
    border-color: #99A56B;
}

.btn-danger {
    color: #ffffff;
    background-color: #B83222;
    border-color: #B83222;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: #B83222;
    background-color: #FFC5C1;
    border-color: #FFC5C1;
}

.btn-light {
    color: #78863F;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
    color: #78863F;
    background-color: #FFFFFF;
    border-color: #F5F5F5;
}

a.btn-primary:link, a.btn-primary:visited, a.btn-primary:active, a.btn-info:link, a.btn-info:visited, a.btn-info:active, a.btn-warning:link, a.btn-warning:visited, a.btn-warning:active, a.btn-danger:link, a.btn-danger:visited, a.btn-danger:active {
    color: #ffffff;
}

a.btn-light:link, a.btn-light:visited, a.btn-light:active {
    color:#78863F !important;
}

.btn {
    font-family: geomanist !important;
    font-weight: 400 !important;
    font-size: calc(1rem + 0.1vw) !important;
    padding: 2;
    margin: 2;
}

.btn-xs {
    font-family: geomanist !important;
    font-size: calc(1rem + 0.1vw) !important;
    padding: 3px 8px;
}

/* Setting the radius properties to 12px */

.rounded {
    border-radius: 12px !important;
}

.rounded-pill {
    border-radius: 12px !important;
}

.rounded-top {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.rounded-end {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.rounded-bottom {
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.rounded-start {
    border-bottom-left-radius: 12px !important;
    border-top-left-radius: 12px !important;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 12px;
}

/* ICONS */

/* paths */
.adduser-fill:before, .adduser-fill-md:before, .adduser-fill-lg:before {content: url(../images/symbols/adduser_green_fill.svg);}
.adduser-out:before, .adduser-out-md:before, .adduser-out-lg:before {content: url(../images/symbols/adduser_green_out.svg);}
.arrow-fill-sm:before, .arrow-fill-md:before, .arrow-fill-lg:before {content: url(../images/symbols/arrow_green_fill.svg);}
.arrow-out-sm:before, .arrow-out-md:before, .arrow-out-lg:before {content: url(../images/symbols/arrow_green_out.svg);}
.exit-fill-sm:before, .exit-fill-md:before, .exit-fill-lg:before {content: url(../images/symbols/exit_green_fill.svg);}
.exit-fill-w-sm:before, .exit-fill-w-md:before, .exit-fill-w-lg:before {content: url(../images/symbols/exit_white_fill.svg);}
.exit-out-sm:before, .exit-out-md:before, .exit-out-lg:before {content: url(../images/symbols/exit_green_out.svg);}
.exit-out-w-sm:before, .exit-out-w-md:before, .exit-out-w-lg:before {content: url(../images/symbols/exit_white_out.svg);}
.f-fill-sm:before, .f-fill-md:before, .f-fill-lg:before {content: url(../images/symbols/f_green_fill.svg);}
.f-fill-w-sm:before, .f-fill-w-md:before, .f-fill-w-lg:before {content: url(../images/symbols/f_white_fill.svg);}
.f-out-sm:before, .f-out-md:before, .f-out-lg:before {content: url(../images/symbols/f_green_out.svg);}
.f-out-w-sm:before, .f-out-w-md:before, .f-out-w-lg:before {content: url(../images/symbols/f_white_out.svg);}
.g-fill-sm:before, .g-fill-md:before, .g-fill-lg:before {content: url(../images/symbols/g_green_fill.svg);}
.g-fill-w-sm:before, .g-fill-w-md:before, .g-fill-w-lg:before {content: url(../images/symbols/g_white_fill.svg);}
.g-out-sm:before, .g-out-md:before, .g-out-lg:before {content: url(../images/symbols/g_green_out.svg);}
.g-out-w-sm:before, .g-out-w-md:before, .g-out-w-lg:before {content: url(../images/symbols/g_white_out.svg);}
.gear-fill-sm:before, .gear-fill-md:before, .gear-fill-lg:before {content: url(../images/symbols/gear_green_fill.svg);}
.gear-fill-w-sm:before, .gear-fill-w-md:before, .gear-fill-w-lg:before {content: url(../images/symbols/gear_white_fill.svg);}
.gear-out-sm:before, .gear-out-md:before, .gear-out-lg:before {content: url(../images/symbols/gear_green_out.svg);}
.gear-out-w-sm:before, .gear-out-w-md:before, .gear-out-w-lg:before {content: url(../images/symbols/gear_white_out.svg);}
.key-fill-sm:before, .key-fill-md:before, .key-fill-lg:before {content: url(../images/symbols/key_green_fill.svg);}
.key-out-sm:before, .key-out-md:before, .key-out-lg:before {content: url(../images/symbols/key_green_out.svg);}
.magnifier-fill-sm:before, .magnifier-fill-md:before, .magnifier-fill-lg:before {content: url(../images/symbols/magnifier_green_fill.svg);}
.magnifier-out-sm:before, .magnifier-out-md:before, .magnifier-out-lg:before {content: url(../images/symbols/magnifier_green_out.svg);}
.upload-fill-sm:before, .upload-fill-md:before, .upload-fill-lg:before {content: url(../images/symbols/upload_green_fill.svg);}
.upload-out-sm:before, .upload-out-md:before, .upload-out-lg:before {content: url(../images/symbols/upload_green_out.svg);}
.user-fill-sm:before, .user-fill-md:before, .user-fill-lg:before {content: url(../images/symbols/user_green_fill.svg);}
.user-fill-w-sm:before, .user-fill-w-md:before, .user-fill-w-lg:before {content: url(../images/symbols/user_white_fill.svg);}
.user-out-sm:before, .user-out-md:before, .user-out-lg:before {content: url(../images/symbols/user_green_out.svg);}
.user-out-w-sm:before, .user-out-w-md:before, .user-out-w-lg:before {content: url(../images/symbols/user_white_out.svg);}
.x-fill-sm:before, .x-fill-md:before, .x-fill-lg:before {content: url(../images/symbols/x_green_fill.svg);}
.x-out-sm:before, .x-out-md:before, .x-out-lg:before {content: url(../images/symbols/x_green_out.svg);}

/* small size */
.adduser-fill-sm:before, .adduser-out-sm:before, .arrow-fill-sm:before, .arrow-out-sm:before, .exit-fill-sm:before, .exit-fill-w-sm:before, .exit-out-sm:before, .exit-out-w-sm:before, .f-fill-sm:before, .f-fill-w-sm:before, .f-out-sm:before, .f-out-w-sm:before, .g-fill-sm:before, .g-fill-w-sm:before, .g-out-sm:before, .g-out-w-sm:before, .gear-fill-sm:before, .gear-fill-w-sm:before, .gear-out-sm:before, .gear-out-w-sm:before, .key-fill-sm:before, .key-out-sm:before, .magnifier-fill-sm:before, .magnifier-out-sm:before, .upload-fill-sm, .upload-out-sm, .user-fill-sm, .user-fill-w-sm, .user-out-sm, .user-out-w-sm, .x-fill-sm, .x-out-sm {
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
}

/* medium size */
.adduser-fill-md:before, .adduser-out-md:before, .arrow-fill-md:before, .arrow-out-md:before, .exit-fill-md:before, .exit-fill-w-md:before, .exit-out-md:before, .exit-out-w-md:before, .f-fill-md:before, .f-fill-w-md:before, .f-out-md:before, .f-out-w-md:before, .g-fill-md:before, .g-fill-w-md:before, .g-out-md:before, .g-out-w-md:before, .gear-fill-md:before, .gear-fill-w-md:before, .gear-out-md:before, .gear-out-w-md:before, .key-fill-md:before, .key-out-md:before, .magnifier-fill-md:before, .magnifier-out-md:before, .upload-fill-md, .upload-out-md, .user-fill-md, .user-fill-w-md, .user-out-md, .user-out-w-md, .x-fill-md, .x-out-md {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
}

/* large size */
.adduser-fill-lg:before, .adduser-out-lg:before, .arrow-fill-lg:before, .arrow-out-lg:before, .exit-fill-lg:before, .exit-fill-w-lg:before, .exit-out-lg:before, .exit-out-w-lg:before, .f-fill-lg:before, .f-fill-w-lg:before, .f-out-lg:before, .f-out-w-lg:before, .g-fill-lg:before, .g-fill-w-lg:before, .g-out-lg:before, .g-out-w-lg:before, .gear-fill-lg:before, .gear-fill-w-lg:before, .gear-out-lg:before, .gear-out-w-lg:before, .key-fill-lg:before, .key-out-lg:before, .magnifier-fill-lg:before, .magnifier-out-lg:before, .user-fill-lg, .upload-fill-ld, .upload-out-lg, .user-fill-w-lg, .user-out-lg, .user-out-w-lg, .x-fill-lg, .x-out-lg {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

/* FORMS */

.search-btn {
    background-color: inherit;
    padding: 10px 10px 0px 5px;
    border-width: 0;
}

.form-control {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    font-weight: 300;
    font-size: calc(0.9rem + 0.2vw);
    border-radius: 12px;
    height: 40px;
}

textarea {
    min-height: 120px !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    background-color: #FFC5C1;
    border-color: #DDDDDD;
}

.form-control:focus {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    font-weight: 300;
    font-size: calc(0.9rem + 0.2vw);
}

.form-control:disabled {
    background-color: #DDDDDD;
    border-color: #939393;
}

.form-check-input {
    border: 2px solid #78863F;
}

.form-check-input:invalid {
    border: 2.5px solid #B83222;
}

.form-check-input:focus {
    border-color: #99A56B;
}

.form-check-input:checked {
    background-color: #78863F;
    border-color: #78863F;
}

.form-check-input[type=checkbox]:indeterminate {
    background-color: #78863F;
    border-color: #78863F;
}

.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='0' /%3e%3c/svg%3e") !important;
}

.form-check-input:disabled {
    background-color: #DDDDDD;
    border-color: #939393;
}

.input-group {
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 1px;
}

a.login:link, a.login:visited, a.login:active {
    color:#78863F !important;
}

/* Other elements */

.hr-single {
    border-top: 2px solid;
    border-radius: 2px;
}

.separator {
    width:100px;
    height:8px;
}

.spacer-sm {
    margin-top: 180px;
}

.spacer-lg {
    margin-top: 100px;
}

.controls {
    margin: 0;
    padding: 0px 5px;
}

/* Image size control */

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.svg-content {
    max-height: 100%;
	display: inline-block;
	position: absolute;
    transform: translateX(50%);
	top: 0;
	left: 0;
}

.logo-container {
    position: relative;
    margin: 10px;
    height: 100px;
    width: 200px;
}

.logo-size {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-sponsor{
    width: 100%;
    height: 150px;
    margin-bottom: 100px;
}

/* Removing form, input, btn, etc. highlighting */

input:focus,
select:focus,
textarea:focus,
button:focus,
a,
a:hover,
a:focus,
a:active {
    outline: none !important;
    box-shadow: none !important;
}

/* Hide password reveal button in MS Edge */
::-ms-reveal {
    display: none;
}

/* Hide input form "X" in MS Edge */

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

/* Remove colors for autofill fields */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
