url = "/tudastar/modszertanok"
layout = "default"
title = "Módszertanok"

[builderList]
modelClass = "Csatar\KnowledgeRepository\Models\Methodology"
scope = "scopeApproved"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "backend::lang.list.no_records"
detailsPage = "tudastar/modszertan"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "name"
sortDirection = "asc"

[recordList waitingForApproval]
modelClass = "Csatar\KnowledgeRepository\Models\Methodology"
scope = "scopeWaitingForApproval"
scopeValue = "{{ :scope }}"
columnsConfigFile = "columnsWaitingForApproval.yaml"
noRecordsMessage = "backend::lang.list.no_records"
detailsPage = "tudastar/modszertan"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[partials]
==
<?php
use Csatar\KnowledgeRepository\Models\Methodology;

public function onStart(){
    $user = Auth::user();
    if (!empty($user->scout)) {
        $this['association_id'] = $user->scout->getAssociationId();
        $this['methodology'] = new Methodology();
        $this['methodology']->association_id = $this['association_id'];
        $this['userRights'] = $user->scout->getRightsForModel($this['methodology']);
    }

}
?>
==
<div class="container">
    {% if userRights['approved_at']['create'] > 0 and userRights['approver_csatar_code']['create'] > 0 %}
    <div class="accordion accordion-flush mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header" id="waiting-for-approval">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-waiting-for-approval" aria-expanded="false" aria-controls="flush-collapse-41">
                    <span>{{ 'Elfogadásra váró módszertanok'|_ }}</span>
                </button>
            </h2>
            <div id="flush-collapse-waiting-for-approval" class="accordion-collapse collapse show" aria-labelledby="flush-heading" data-bs-parent="#waiting-for-approval" style="">
                <div class="accordion-body py-2">
                    {% component 'waitingForApproval' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if userRights['MODEL_GENERAL']['create'] > 0 %}
    <form action="/tudastar/modszertan/letrehozas" method="post">
        <input type="hidden" name="association" value="{{ association_id }}">
        <input type="hidden" name="uploaderscout" value="{{ user.scout.ecset_code }}">
        {% partial "@formButton"
        permissionValue = userRights['MODEL_GENERAL']['create']
        btnExtraClasses = 'btn btn-sm rounded btn-primary'
        btnIconClass = 'csat-add-fill-wh-sm'
        btnLabel = 'Módszertan hozzáadása' |_
        %}
    </form>
    {% endif %}

    {% component 'builderList' %}
</div>
