{% set detailsPage = __SELF__.detailsPage %}
{% set detailsKeyColumn = __SELF__.detailsKeyColumn %}
{% set detailsUrlParameter = __SELF__.detailsUrlParameter %}
{% set filtersConfig = __SELF__.filtersConfig %}

<div id="records-table" class="table csat-grid">
    {% if filtersConfig|length > 0 %}
        {% partial __SELF__~'::filters' filtersConfig = filtersConfig %}
    {% endif %}
    {% partial __SELF__~'::tableHeader' %}
    <div id="tableRows" class="table_top_no_border">
        {% partial __SELF__~'::tableRows' %}
    </div>
</div>

