{% set filterInputId = 'filter-' ~ column ~ '-input' %}
{% set filterCheckboxContainerId = 'filter-' ~ column ~ '-checkbox-list' %}
{% set collapsableAreaId = 'filter-' ~ column ~ '-collapse' %}
{% set filterNameArrayName = 'filter' ~column %}

<div class="card {{ column }}-filter-card">
    {% if config['filterConfig']['type'] == 'freeText' %}
        <div class="input-group">
            <input
                    class="form-control py-2 border-right-0 border {{ config['filterConfig']['type'] }}"
                    type="search"
                    data-column="{{ column }}"
                    placeholder="{{ config.label }}"
                    id="{{ filterInputId }}"
            <span class="input-group-append">
                <button
                        class="btn btn-outline-secondary border-left-0 border searchButton"
                        type="button"
                        data-input-id="{{ filterInputId }}"
                >
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    {% else %}
        <div class="filter-header input-group">
            <input type="text" id="{{ filterInputId }}" class="form-control filter-input" placeholder="{{ config.label }}" onfocus="$('#{{ collapsableAreaId }}').collapse('show');">
            <span class="input-group-append">
                <button class="btn btn-sm btn-light collapse-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ collapsableAreaId }}" aria-expanded="false" aria-controls="{{ collapsableAreaId }}"></button>
            </span>
        </div>
        <div class="collapse" id="{{ collapsableAreaId }}">
            <div class="overflow-auto checkbox-container {{ filterCheckboxContainerId }}" id="{{ filterCheckboxContainerId }}">
                {% for option in config['options'] %}

                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                value="{{ option.id }}"
                                name="{{ filterNameArrayName }}[]"
                                id="{{ filterNameArrayName }}-{{ option['id'] }}"
                                onchange="filterSortPaginate()"
                                data-column="{{ column }}"
                                data-column-label="{{ config['label'] }}"
                        >
                        <label class="form-check-label" for="{{ filterNameArrayName }}-{{ option['id'] }}">
                            {{ option['label'] }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>