{% set filterInputId = 'filter-' ~ column ~ '-input' ~ '-' ~ __SELF__.alias %}
{% set filterCheckboxContainerId = 'filter-' ~ column ~ '-checkbox-list' ~ '-' ~ __SELF__.alias %}
{% set collapsableAreaId = 'filter-' ~ column ~ '-collapse' ~ '-' ~ __SELF__.alias %}
{% set filterNameArrayName = 'filter' ~column ~ '-' ~ __SELF__.alias %}
{% set alias = __SELF__.alias %}

<div class="card {{ column }}-filter-card csat-border-lg-none rounded p-0">
    {% if config['filterConfig']['type'] == 'freeText' %}
        <div class="input-group border-0 rounded bg-white">
            <input
                    class="form-control border-0 bg-white {{ config['filterConfig']['type'] }}"
                    type="search"
                    data-column="{{ column }}"
                    data-alias="{{ alias }}"
                    placeholder="{{ config.label }}"
                    id="{{ filterInputId }}"
            <span class="input-group-append my-auto me-1">
                <button
                        class="btn border-0 rounded-0 searchButton"
                        type="button"
                        data-alias="{{ alias }}"
                        data-input-id="{{ filterInputId }}"
                >
                    <i class="csat-magnif-fill-sm"></i>
                </button>
            </span>
        </div>
    {% else %}
        <div class="filter-header input-group border-0 rounded bg-white">
            <input type="text" id="{{ filterInputId }}" class="form-control filter-input border-0 rounded bg-white" placeholder="{{ config.label }}" onfocus="$('#{{ collapsableAreaId }}').collapse('show');">
            <span class="input-group-append my-auto me-1">
                <button class="btn btn-sm collapse-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ collapsableAreaId }}" aria-expanded="false" aria-controls="{{ collapsableAreaId }}"></button>
            </span>
        </div>
        <div class="collapse collapsable-filter" id="{{ collapsableAreaId }}">
            <div class="overflow-auto checkbox-container {{ filterCheckboxContainerId }} mb-2 px-2" id="{{ filterCheckboxContainerId }}">
                {% for option in config['options'] %}
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="{{ config['filterConfig']['selectType'] }}"
                                value="{{ option.id }}"
                                name="{{ filterNameArrayName }}[]"
                                id="{{ filterNameArrayName }}-{{ option['id'] }}"
                                onchange="filterSortPaginate('{{ alias }}', 1, '', '', '{{ column }}')"
                                data-column="{{ column }}"
                                data-column-label="{{ config['label'] }}"
                                data-alias="{{ alias }}"
                                {% if option.checked %} checked {% endif %}
                        >
                        <label class="form-check-label" for="{{ filterNameArrayName }}-{{ option['id'] }}">
                            {{ option['label'] }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
