{% set sortConfig = __SELF__.sortConfig %}
{% set filtersElementId = 'filters-' ~ __SELF__.alias %}
{% set alias = __SELF__.alias %}

<div class="card filter-card border-0 bg-light rounded mb-2">
    <div class="row mx-2">
        <div class="col-12 col-sm-8 col-lg-9 my-auto">
            <a href="#{{ filtersElementId }}"
                class="collapsed"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#{{ filtersElementId }}"
                data-alias="{{ alias }}"
                aria-expanded="false"
                aria-controls="{{ filtersElementId }}">{{ 'Aktív szűrők'|_ }}:
                <span class="ps-0" id="activeFiltersNumber-{{ __SELF__.alias }}">0</span>
            </a>
            <span class="text-primary text-nowrap">|</span>
            <a onClick="removeAllFilters('{{ __SELF__.alias }}');"
               data-bs-toggle="collapse"
               data-bs-target="#{{ filtersElementId }}"
               data-alias="{{ alias }}"
               aria-controls="{{ filtersElementId }}"
               class="code-red text-decoration-none mt-2">{{ 'Szűrők törlése'|_ }}
            </a>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 text-sm-end px-0 pe-lg-0">
        {% if sortConfig|length > 0 %}
            <select id="sort" class="w-100">
                {% for column, config in sortConfig %}
                    <option
                        data-column="{{ column }}"
                        data-direction="asc"
                        data-alias="{{ alias }}"
                        {% if config.default == 'asc' %} selected {% endif %}
                    >
                        ↑ {{ config.label }}
                    </option>
                    <option
                        data-column="{{ column }}"
                        data-direction="desc"
                        data-alias="{{ alias }}"
                        {% if config.default == 'desc' %} selected {% endif %}
                    >
                        ↓ {{ config.label }}
                    </option>
                {% endfor %}
            </select>
        {% endif %}
        </div>
    </div>
    <div class="row mx-2">
        <div class="collapse filter-card-body bg-light py-0" id="{{ filtersElementId }}">
            {% partial __SELF__ ~ '::filtersActive' %}
            <div class="tr">
                <div class="card csat-resp-gdtable bg-light border-0 mb-0">
                    <div class="row my-1">
                        {% for column, config in filtersConfig %}
                        {% set filterId = 'filter-' ~ column ~ '-' ~ __SELF__.alias %}
                        <div class="col-12 col-lg p-2px">
                            <div class="td td-h-no100 bg-white mx-0 mx-lg-0" id="{{ filterId }}">
                                {% partial __SELF__ ~ '::filter' column = column config=config %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
