{% set sortConfig = __SELF__.sortConfig %}

<div class="card filter-card border-0 bg-light rounded">
    <a href="#filters"
       class="mt-2 ms-2 collapsed"
       role="button"
       data-bs-toggle="collapse"
       data-bs-target="#filters"
       aria-expanded="false"
       aria-controls="filters">{{ 'Aktív szűrők'|_ }}:
        <span class="ps-0" id="activeFiltersNumber">0</span>
    </a>
    {% if sortConfig|length > 0 %}
        <select id="sort" >
            {% for column, config in sortConfig %}
                <option
                    data-column="{{ column }}"
                    data-direction="asc"
                    {% if config.default == 'asc' %} selected {% endif %}
                >
                    ↑ {{ config.label }}
                </option>
                <option
                    data-column="{{ column }}"
                    data-direction="desc"
                    {% if config.default == 'desc' %} selected {% endif %}
                >
                    ↓ {{ config.label }}
                </option>
            {% endfor %}
        </select>
    {% endif %}

    <div class="collapse show filter-card-body bg-light mb-2" id="filters">
        {% partial __SELF__ ~ '::filtersActive' %}
        <div class="tr my-0 py-0">
            <div class="card csat-resp-gdtable bg-light csat-border-lg-none">
                <div class="row">
                    {% for column, config in filtersConfig %}
                    <div class="col-12 col-md p-1">
                        <div class="td td-h-no100 me-1 me-lg-0">
                            {% partial __SELF__ ~ '::filter' column = column config=config %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a onClick="removeAllFilters()" class="code-red text-decoration-none text-end pe-2">{{ 'Szűrők törlése'|_ }}</a>
    </div>
</div>