{% set tableRowConfig = __SELF__.tableRowConfig %}
{% set tableHeaderConfig = __SELF__.tableHeaderConfig %}

<div class="tr my-2 my-lg-0 py-md-0 px-0">
    <div class="card csat-resp-gdtable csat-border-lg-none">
        <div class="row p-3 py-lg-0 px-lg-3">
            {% for column in tableRowConfig %}
                {% if column['relationName'] %}
                    {% if column['relationType'] == 'belongsToMany' %}
                        {% set value = '' %}
                        {% for item in record[column['relationName']] %}
                            {% set value = value ~ item[column['valueFrom']] %}
                            {% if not loop.last %}
                                {% set value = value ~ ', ' %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% set value = record[column['relationName']][column['valueFrom']] %}
                    {% endif %}
                {% else %}
                    {% set value = record[column['attribute']] %}
                {% endif %}
                {% if column['tooltipFrom'] %}
                    {% set tooltip = record[column['tooltipFrom']] %}
                {% else %}
                    {% set tooltip = value %}
                {% endif %}
                <div class="col-6 col-md-4 col-lg mb-2 mb-lg-0 overflow-hidden" data-bs-toggle="tooltip" title="{{ tooltip }}">
                    <p class="td label d-block d-lg-none">{{ column['label'] }}</p>
                    <p class="td grid-ellipsis">{{ value }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>