{% set records = __SELF__.records %}
{% set noRecordsMessage = __SELF__.noRecordsMessage %}

{% for record in records %}
    {% if detailsPage %}<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{% endif %}
    {% partial __SELF__~'::tableRow' record = record %}
    {% if detailsPage %}</a>{% endif %}
{% else %}
<p>{{ noRecordsMessage }}</p>
{% endfor %}
<ul class="pagination mt-2 justify-content-center">
    {% if records.lastPage > 1 %}
        <li class="ps-0 pe-1 pt-1">
            <button href="javascript:"
               onclick="filterSortPaginate('{{ __SELF__.alias }}', 1)"
               class="btn btn-sm rounded btn-light"
               {{ records.currentPage == '1' ? 'disabled' : '' }}
            >{{ 'Első'|_ }}
            </button>
        </li>
        <li class="ps-0 pe-1 pt-1">
            <button href="javascript:"
                onclick="filterSortPaginate('{{ __SELF__.alias }}', {{ records.currentPage-1 }})"
                class="btn btn-sm rounded btn-light"
                {{ records.currentPage == '1' ? 'disabled' : '' }}
            >&larr; {{ 'Előző'|_ }}
            </button>
        </li>

        <li class="ps-0 pe-1 pt-1">
            <select>
                {% for page in 1..records.lastPage %}
                <option
                        onclick="filterSortPaginate('{{ __SELF__.alias }}', {{ page }})"
                        value="{{ page }}"
                        {{ records.currentPage == page ? 'selected' : '' }}
                >
                    {{ page }}
                </option>
                {% endfor %}
            </select>
        </li>

        <li class="ps-0 pe-1 pt-1">
            <button href="javascript:"
               onclick="filterSortPaginate('{{ __SELF__.alias }}', {{ records.currentPage+1 }})"
               class="btn btn-sm rounded btn-light"
               {{ records.currentPage == records.lastPage ? 'disabled' : '' }}
            >{{ 'Következő'|_ }} &rarr;</button>
        </li>
        <li class="ps-0 pe-1 pt-1">
            <button href="javascript:"
               onclick="filterSortPaginate('{{ __SELF__.alias }}', {{ records.lastPage }})"
               class="btn btn-sm rounded btn-light"
               {{ records.currentPage == records.lastPage ? 'disabled' : '' }}
            >{{ 'Utolsó'|_ }}
            </button>
        </li>
    {% endif %}
</ul>
