{% set records = __SELF__.records %}
{% set noRecordsMessage = __SELF__.noRecordsMessage %}

{% for record in records %}
    {% if detailsPage %}<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{% endif %}
    {% partial __SELF__~'::tableRow' record = record %}
    {% if detailsPage %}</a>{% endif %}
{% else %}
<p>{{ noRecordsMessage }}</p>
{% endfor %}

<ul class="pagination mt-2">
    {% if records.lastPage > 1 %}
        {% if records.currentPage > 1 %}
        <li><a href="javascript:" onclick="filterSortPaginate('{{ __SELF__.alias }}', {{ records.currentPage-1 }})">&larr; {{ 'Előző'|_ }}</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
        <li class="{{ records.currentPage == page ? 'active' : null }}">
            <a href="javascript:" onclick="filterSortPaginate('{{ __SELF__.alias }}', {{ page }})">{{ page }}</a>
        </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
        <li><a href="javascript:" onclick="filterSortPaginate('{{ __SELF__.alias }}', {{ records.currentPage+1 }})">{{ 'Következő'|_ }} &rarr;</a></li>
        {% endif %}
    {% endif %}
</ul>
