{% set tableRowConfig = __SELF__.tableRowConfig %}
{% set tableHeaderConfig = __SELF__.tableHeaderConfig %}

<div class="tr">
    <div class="card csat-resp-gdtable csat-border-lg-none">
        <div class="row">
            {% for column in tableRowConfig %}
                <div class="col">
                    <p class="td label d-block d-lg-none">{{ tableHeaderConfig[column['attribute']]['label'] }}</p>
                    <p class="td">{{ record[column['attribute']] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>