<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">Buttons</h5>
        </div>
        <div class="col-lg-8 col-md-12">
            
            {#Small#}
            <div class="row pb-3">
                <div class="col-3">
                    <p class="m-0">Small buttons</p>
                </div>

                <div class="col-8">
                    <button type="button" class="btn btn-sm rounded btn-primary">
                        Sign-in
                    </button>
                    <button type="button" class="btn btn-sm rounded btn-light">
                        Sign-in
                    </button>
                </div>
            </div>

            {#Small code snippet#}
            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span style="color: #2f6f9f;">&lt;button </span><span style="color: #006ee0;">type=</span><span style="color: #d73038;">"button"</span> <span style="color: #006ee0;">class=</span><span style="color: #d73038;">"btn btn-sm rounded btn-primary"</span><span style="color: #2f6f9f;">&gt;</span><span style="color: #2f6f9f;"></span><span style="color: #000000;"><br/>Sign-in</span><span style="color: #2f6f9f;"></span><br/><span style="color: #2f6f9f;">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row pb-3">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span style="color: #2f6f9f;">&lt;button </span><span style="color: #006ee0;">type=</span><span style="color: #d73038;">"button"</span> <span style="color: #006ee0;">class=</span><span style="color: #d73038;">"btn btn-sm rounded btn-light"</span><span style="color: #2f6f9f;">&gt;</span><span style="color: #2f6f9f;"></span><span style="color: #000000;"><br/>Sign-in</span><span style="color: #2f6f9f;"></span><br/><span style="color: #2f6f9f;">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            {#Normal#}
            <div class="row pb-3">
                <div class="col-3">
                    <p class="m-0">Normal buttons</p>
                </div>

                <div class="col-8">
                    <button type="button" class="btn rounded btn-primary">
                        Sign-in with Google
                    </button>
                    <button type="button" class="btn rounded btn-light">
                        Sign-in with Google
                    </button>
                </div>   
            </div>

            {#Normal code snippet#}
            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span style="color: #2f6f9f;">&lt;button </span><span style="color: #006ee0;">type=</span><span style="color: #d73038;">"button"</span> <span style="color: #006ee0;">class=</span><span style="color: #d73038;">"btn rounded btn-primary"</span><span style="color: #2f6f9f;">&gt;</span><span style="color: #2f6f9f;"></span><span style="color: #000000;"><br/>Sign-in with Google</span><span style="color: #2f6f9f;"></span><br/><span style="color: #2f6f9f;">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row pb-3">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span style="color: #2f6f9f;">&lt;button </span><span style="color: #006ee0;">type=</span><span style="color: #d73038;">"button"</span> <span style="color: #006ee0;">class=</span><span style="color: #d73038;">"btn rounded btn-light"</span><span style="color: #2f6f9f;">&gt;</span><span style="color: #2f6f9f;"></span><span style="color: #000000;"><br/>Sign-in with Google</span><span style="color: #2f6f9f;"></span><br/><span style="color: #2f6f9f;">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            {#Large#}
            <div class="row pb-3">
                <div class="col-3">
                    <p class="m-0">Large buttons</p>
                </div>

                <div class="col-8">
                    <button type="button" class="btn btn-lg rounded btn-primary">
                        Sign-in with Facebook
                    </button>
                    <button type="button" class="btn btn-lg rounded btn-light">
                        Sign-in with Facebook
                    </button>
                </div>   
            </div>

            {#Large code snippet#}
            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span style="color: #2f6f9f;">&lt;button </span><span style="color: #006ee0;">type=</span><span style="color: #d73038;">"button"</span> <span style="color: #006ee0;">class=</span><span style="color: #d73038;">"btn btn-lg rounded btn-primary"</span><span style="color: #2f6f9f;">&gt;</span><span style="color: #2f6f9f;"></span><span style="color: #000000;"><br/>Sign-in with Facebook</span> <span style="color: #2f6f9f;"></span><br/><span style="color: #2f6f9f;">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row pb-3">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span style="color: #2f6f9f;">&lt;button </span><span style="color: #006ee0;">type=</span><span style="color: #d73038;">"button"</span> <span style="color: #006ee0;">class=</span><span style="color: #d73038;">"btn btn-lg rounded btn-light"</span><span style="color: #2f6f9f;">&gt;</span><span style="color: #2f6f9f;"></span><span style="color: #000000;"><br/>Sign-in with Facebook</span><span style="color: #2f6f9f;"></span><br/><span style="color: #2f6f9f;">&lt;/button&gt;</span>
                    </code>
                </div>
            </div>

            {#Buttons with icons#}
            <div class="row pb-3">
                <div class="col-3">
                    <p class="m-0">Buttons with icons</p>
                </div>

                <div class="col-8">
                    <button type="button" class="btn btn-sm rounded btn-light">
                        <i class="key-fill-sm"></i><br/>
                        Sign-in
                    </button>
                    <button type="button" class="btn rounded btn-light">
                        <i class="key-fill-md"></i>
                    </button>
                </div>   
            </div>

            {#Buttons with icons code snippet#}
            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span style="color: #2f6f9f;">&lt;button </span><span style="color: #006ee0;">type=</span><span style="color: #d73038;">"button"</span> <span style="color: #006ee0;">class=</span><span style="color: #d73038;">"btn btn-sm rounded btn-light"</span><span style="color: #2f6f9f;">&gt;</span><span style="color: #2f6f9f;"></span><span style="color: #000000;"><span style="color: #2f6f9f;"><br/>&lt;i </span></span><span style="color: #006ee0;">class=</span><span style="color: #d73038;">"key-fill-sm"</span><span style="color: #2f6f9f;">&gt;&lt;/i&gt;&lt;br/&gt;</span><br/><span style="color: #000000;">Sign-in</span><br/><span style="color: #2f6f9f;">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row pb-3">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span style="color: #2f6f9f;">&lt;button </span><span style="color: #006ee0;">type=</span><span style="color: #d73038;">"button"</span> <span style="color: #006ee0;">class=</span><span style="color: #d73038;">"btn rounded btn-light"</span><span style="color: #2f6f9f;">&gt;</span><span style="color: #2f6f9f;"></span><span style="color: #000000;"><span style="color: #2f6f9f;"><br/>&lt;i </span></span><span style="color: #006ee0;">class=</span><span style="color: #d73038;">"key-fill-md"</span><span style="color: #2f6f9f;">&gt;&lt;/i&gt;</span><br/><span style="color: #2f6f9f;">&lt;/button&gt;</span>
                    </code>
                </div>
            </div>

        </div>
    </div>
</div>
