{% set permission_to_edit = __SELF__.permission_to_edit %}
<div class="row" id="galleries">
    {% for gallery in galleries %}
        {% partial __SELF__ ~ '::galleryCover' gallery=gallery permision_to_edit=permission_to_edit %}
    {% endfor %}

    {% if permission_to_edit %}
        <form data-request="onOpenCreateForm">
            <button
                type="submit"
                class="btn btn-sm rounded btn-primary">
                {{ 'Új galléria' | _ }}
            </button>
        </form>
    {% endif %}
</div>
