{% set permission_to_edit = __SELF__.permission_to_edit %}

<div>
    <form data-request="onReturnBack">
        <input type="hidden" name="gallery_id" value="{{ gallery.id }}">
        <button
            type="submit"
            class="btn btn-sm rounded btn-light">
            <i class="csat-directionleft-fill-sm"></i>
            {{ 'Vissza' | _ }}
        </button>
    </form>
</div>

<div>
    <h4 class="text-primary mb-0">{{ gallery.name }}</h4>
    <p class="p-gallery text-subtitle p-2">{{ gallery.description }}</p>
</div>

<div class="card rounded bg-light p-3 mb-3">
<div class="d-flex flex-wrap justify-content-center">
{% for image in gallery.images %}
    <div>
        <a class="colorbox" data-fancybox="gallery" href="{{ image.path }}" title="{{image.title}}">
            <img src="{{ image.thumb(auto, 200) }}"  class="fr-fic fr-dib img-fluid csat-gallery-img m-1">
        </a>
    </div>
{% endfor %}
</div>
</div>

{% if permission_to_edit %}
<div class="d-flex justify-content-center">
    <div class="px-1">
        <form data-request="onOpenEditForm">
            <input type="hidden" name="gallery_id" value="{{ gallery.id }}">
            <button
                type="submit"
                class="btn btn-sm rounded btn-primary">
                <i class="csat-edit-fill-wh-sm"></i>
                {{ 'Módosít' | _ }}
            </button>
        </form>
    </div>
    <div class="px-1">
        <form data-request="onDeleteGallery">
            <input type="hidden" name="gallery_id" value="{{ gallery.id }}">
            <button
                type="submit"
                class="btn btn-sm rounded btn-danger">
                <i class="csat-binclosed-out-wh-sm"></i>
                {{ 'Töröl' | _ }}
            </button>
        </form>
    </div>
</div>
{% endif %}

<hr class="hr-single bg-gray">

<div class="row">
    {% for child in childGalleries %}
        {% partial __SELF__ ~ '::galleryCover' gallery=child permision_to_edit=permission_to_edit %}
    {% endfor %}
</div>
{% if permission_to_edit %}
    <div class="row">
        <form data-request="onOpenCreateForm">
            <input type="hidden" name="parent_id" value="{{ gallery.id }}">
            <button
                type="submit"
                class="btn btn-sm rounded btn-primary mt-2">
                <i class="csat-gallery-add-out-wh-sm"></i>
                {{ 'Új galéria' | _ }}
            </button>
        </form>
    </div>
{% endif %}
