{% if showUploadForm %}
    <div class="info2 p-4 mb-3 rounded text-white">
        <p>
            {{ 'A feltöltendő .csv, .xlsx fájl első 2 sora meg kell egyezzen a fentebb letölthető .csv, .xlsx fájl első két sorával.' | _ }} </br>
            {{ 'Az "Állampolgárság" oszlop értékei kétbetűs, hivatalos országnév rövidítések lehetnek, nagy betűvel, például Magyaraország esetén: "HU", Románia esetén: "RO".'| _ }} </br>
            {{ 'A "Jogviszony" és "Vallás" oszlopok értékeinél számít az ékezet és a kicsi/nagy betű.' | _ }} </br>
            {{ 'A "Dátum" oszlop értékeinek helyes formátuma: év-hónap-nap, pl. 2023-01-01' | _ }} </br>
        </p>
    </div>
    <form
        data-request = "onImportScoutsFromCsvXlsx"
        data-request-files="true"
        data-request-ajax-global = "true"
        data-request-flash="true"
    >
        <div class="form-group">
            <input type="hidden" name="teamId" value="{{ teamId }}" />
            <input type="file" name="csvXlsxFile" id="csvXlsxFile" class="form-control" />
        </div>
        {% partial '@formButton'
            permissionValue = permissionValue
            btnExtraClasses = 'btn-sm btn-primary'
            btnValue = 'Importálás'|_
            btnIconClass = 'csat-upload-fill-wh-sm'
            btnLabel = 'Importálás'|_
        %}
        {% partial '@dataRequestButton'
            permissionValue = 1
            dataRequest = 'onRenderUploadForm'
            dataRequestData = 'cancel: true, teamId: ' ~ teamId ~ ', permissionValue: ' ~ permissionValue
            btnExtraClasses = 'btn-sm btn-danger'
            btnValue = 'Mégse'|_
            btnIconClass = 'csat-denied-fill-wh-sm'
            btnLabel = 'Mégse'|_
        %}
    </form>
    <div id="csvXlsxImportLog"></div>
{% else %}
    {% partial "@dataRequestButton"
        permissionValue = permissionValue
        dataRequest = 'onRenderUploadForm'
        dataRequestData = 'teamId: ' ~ teamId ~ ', permissionValue: ' ~ permissionValue
        btnExtraClasses = 'btn-sm btn-primary'
        btnValue = 'Tag lista feltöltése' |_
        btnIconClass = 'csat-upload-fill-wh-sm'
        btnLabel = 'Tag lista feltöltése' |_
    %}
{% endif %}
