{% set content_page = __SELF__.content_page %}
{% set permission_to_edit = __SELF__.permission_to_edit %}
{% set gallery_id = __SELF__.gallery_id %}

<div class=" pb-5">
    <div class="accordion accordion-flush">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                    {{ 'Rólunk' | _ }}
                </button>
            </h2>
            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" id="content">
                    <h2>{{ content_page.title | raw }}</h2>
                    <div>
                        {{ content_page.content | raw}}
                    </div>
                    {% if permission_to_edit %}
                        <form data-request="onEditContent">
                            <button
                                type="submit"
                                class="btn btn-sm rounded btn-primary">
                                {{ 'Módosít' | _ }}
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="ollapse-2">
                    {{ 'Részletek' | _ }}
                </button>
            </h2>
            <div id="collapse-2" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% partial __SELF__ ~ '::' ~ model_name ~ 'Form' %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                    {{ 'Kapcsolati szintek' | _ }}
                </button>
            </h2>
            <div id="collapse-3" class="accordion-collapse collapse show" aria-labelledby="heading-3" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% component "structure" %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-4">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-3">
                    {{ 'Galléria' | _ }}
                </button>
            </h2>
            <div id="collapse-4" class="accordion-collapse collapse show" aria-labelledby="heading-4" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% component "csatargallery" %}
                </div>
            </div>
        </div>
    </div>
</div>
