{% set content_page = __SELF__.content_page %}
{% set model = this.controller.vars.basicForm.record %}
{% set permissions = __SELF__.permissions %}
{% set gallery_id = __SELF__.gallery_id %}

<div class=" pb-5">
    <div class="accordion accordion-flush">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                    {{ 'Rólunk' | _ }}
                </button>
            </h2>
            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionFlushContent">
                <div class="accordion-body" id="content">
                    {% partial __SELF__ ~ '::content' %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="ollapse-2">
                    {{ 'Részletek' | _ }}
                </button>
            </h2>
            <div id="collapse-2" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionFlushForm">
                <div class="accordion-body">
                    {% set model = this.controller.vars.basicForm.record %}

                    {% if permissions['MODEL_GENERAL']['update'] > 0
                        and this.param.action == false
                        and this.param[this.controller.vars.basicForm.recordKeyParam] != this.controller.vars.basicForm.createRecordKeyword %}
                    <form action="/{{this.page.basicForm.formSlug}}/{{ model[basicForm.recordKeyParam] }}/{{ basicForm.actionUpdateKeyword }}" method="post">
                        <button type="submit" class="btn rounded btn-primary" value="{{ 'Módosítás' | _ }}"><i class="csat-edit-fill-wh-md"></i></button>
                    </form>
                    {% endif %}

                    {% partial __SELF__ ~ '::' ~ model_name ~ 'Form' %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                    {{ 'Kapcsolati szintek' | _ }}
                </button>
            </h2>
            <div id="collapse-3" class="accordion-collapse collapse show" aria-labelledby="heading-3" data-bs-parent="#accordionFlushStructure">
                <div class="accordion-body">
                    {% component "structure" %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-4">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-3">
                    {{ 'Galéria' | _ }}
                </button>
            </h2>
            <div id="collapse-4" class="accordion-collapse collapse show" aria-labelledby="heading-4" data-bs-parent="#accordionFlushGallery">
                <div class="accordion-body">
                    {% component "csatargallery" %}
                </div>
            </div>
        </div>
    </div>
</div>
