{% set content_page = __SELF__.content_page %}
{% set model = this.controller.vars.basicForm.record %}
{% set permissions = __SELF__.permissions %}
{% set gallery_id = __SELF__.gallery_id %}

<div class=" pb-5">
    <ul class="nav nav-tabs mb-3" id="tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="about-us-tab" data-bs-toggle="pill" data-bs-target="#about-us" type="button" role="tab" aria-controls="about-us" aria-selected="false">{{ 'Rólunk' | _ }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="details-tab" data-bs-toggle="pill" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">{{ 'Részletek' | _ }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="structure-levels-tab" data-bs-toggle="pill" data-bs-target="#structure-levels" type="button" role="tab" aria-controls="structure-levels" aria-selected="false">{{ 'Kapcsolati szintek' | _ }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="gallery-tab" data-bs-toggle="pill" data-bs-target="#gallery" type="button" role="tab" aria-controls="gallery" aria-selected="false">{{ 'Galéria' | _ }}</button>
        </li>
    </ul>

    <div class="tab-content" id="tabContent">
        <div class="tab-pane fade" id="about-us" role="tabpanel" aria-labelledby="about-us-tab" tabindex="0">
            {% partial __SELF__ ~ '::content.htm' %}
        </div>
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
            {% set model = this.controller.vars.basicForm.record %}

            {% if permissions['MODEL_GENERAL']['update'] > 0
            and this.param.action == false
            and this.param[this.controller.vars.basicForm.recordKeyParam] != this.controller.vars.basicForm.createRecordKeyword %}
            <form action="/{{this.page.basicForm.formSlug}}/{{ model[basicForm.recordKeyParam] }}/{{ basicForm.actionUpdateKeyword }}" method="post">
                <button type="submit" class="btn rounded btn-primary" value="{{ 'Módosítás' | _ }}"><i class="csat-edit-fill-wh-md"></i></button>
            </form>
            {% endif %}

            {% partial __SELF__ ~ '::' ~ model_name ~ 'Form' model=model %}
        </div>
        <div class="tab-pane fade" id="structure-levels" role="tabpanel" aria-labelledby="structure-levels-tab" tabindex="0">
            {% component "structure" %}
        </div>
        <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab" tabindex="0">
            {% component "csatargallery" %}
        </div>
    </div>
</div>
