{% component 'basicForm' %}
{% partial __SELF__ ~ '::inactiveMandates' model=model %}
{% set permissions = __SELF__.permissions %}

<p>{{ 'Csapatok' | _ }}</p>
{% component 'builderList' %}

{% partial "@formWithButton"
    permissionValue = permissions['teams']['create']
    actionUrl = '/csapat/letrehozas'
    hiddenInputs = { 'district': district_id }
    btnExtraClasses = 'btn-sm btn-primary'
    btnValue = 'Csapat hozzáadása' |_
    btnIconClass = 'csat-add-fill-wh-sm'
    btnLabel = 'Csapat hozzáadása' |_
%}
