{% component 'basicForm' %}

{% set patrol = this.controller.vars.basicForm.record %}

{% if user.scout.getRightsForModel(patrol)['scouts']['create'] > 0 %}
    <form action="/tag/letrehozas" method="post">
        <input type="hidden" name="team" value="{{ patrol.team_id }}">
        <input type="hidden" name="patrol" value="{{ patrol.id }}">
        <input type="hidden" name="troop" value="{{ patrol.troop_id }}">
        <button type="submit" class="btn rounded btn-primary" value="{{ 'Tag hozzáadása' | _ }}"><i class="csat-useradd-fill-wh-md"></i></button>
    </form>
{% endif %}

<div class="row">
    <div class="col-12 col-lg-6">
        <p>{{ 'Aktív tagok' | _ }}</p>
        {% set records = activeScouts.records %}
        {% set displayColumn = activeScouts.displayColumn %}
        {% set noRecordsMessage = activeScouts.noRecordsMessage %}
        {% set detailsPage = activeScouts.detailsPage %}
        {% set detailsKeyColumn = activeScouts.detailsKeyColumn %}
        {% set detailsUrlParameter = activeScouts.detailsUrlParameter %}

        <ul class="record-list">
            {% for record in records %}
            <li>
                {% if detailsPage %}<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{% endif %}
                {{ record.getFullName() }}
                {% if detailsPage %}</a>{% endif %}
            </li>
            {% else %}
            <li class="no-data">{{ noRecordsMessage }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-lg-6">
        <p>{{ 'Inaktív tagok' | _ }}</p>
        {% set records = inactiveScouts.records %}
        {% set displayColumn = inactiveScouts.displayColumn %}
        {% set noRecordsMessage = inactiveScouts.noRecordsMessage %}
        {% set detailsPage = inactiveScouts.detailsPage %}
        {% set detailsKeyColumn = inactiveScouts.detailsKeyColumn %}
        {% set detailsUrlParameter = inactiveScouts.detailsUrlParameter %}

        <ul class="record-list">
            {% for record in records %}
            <li>
                {% if detailsPage %}<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{% endif %}
                {{ record.getFullName() }}
                {% if detailsPage %}</a>{% endif %}
            </li>
            {% else %}
            <li class="no-data">{{ noRecordsMessage }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
