{% component 'basicForm' %}
{% set permissions = __SELF__.permissions %}

<p>{{ 'Őrsök' | _ }}</p>
{% component 'builderList' %}

{% if permissions['patrols']['create'] > 0 %}
    <form action="/ors/letrehozas" method="post">
        <input type="hidden" name="team" value="{{ team_id }}">
        <input type="hidden" name="troop" value="{{ troop_id }}">
        <button type="submit" class="btn rounded btn-primary" value="{{ 'Őrs hozzáadása' | _ }}">{{ 'Őrs hozzáadása' | _ }}</button>
    </form>
{% endif %}
