{% set scouts = __SELF__.scouts %}
{% set permissions = __SELF__.permissions %}

<div id="scoutList">
    <form data-request="onCreateFrontendAccounts"
        data-request-loading
        data-request-flash>

        {% partial "@formButton"
            permissionValue = permissions['MODEL_GENERAL']['create']
            btnExtraClasses = 'btn-sm rounded btn-primary'
            btnIconClass = 'csat-useradd-out-wh-sm'
            btnLabel = 'Felhasználói fiók(ok) létrehozása' |_
        %}

        {% if permissions['MODEL_GENERAL']['create'] > 0 %}
            <hr class="hr-single bg-gray">
        {% endif %}

        {% for record in scouts %}
            <div class="form-check d-flex mb-2">
                {% if permissions['MODEL_GENERAL']['create'] > 0 %}
                    <input class="form-check-input me-2" type="checkbox" value="{{ record.id }}" id="scout-{{ record.id }}" name="scouts[]"/>
                {% endif %}
                <label class="form-check-label" for="scout-{{ record.id }}">
                    {% spaceless %}
                    <a href="/tag/{{ record.ecset_code }}">
                        {{ record.getFullName() }}
                    </a>
                    {% endspaceless %}
                </label>
            </div>
        {% endfor %}
    </form>
</div>
<div id="messageList">

</div>
