{% if level == 1 %}
    {% set childArrayName = 'districtsActive' %}
    {% set noItemsMessage = 'Nincsenek Szövetségek.' %}
    {% set organizationTypeForUrl = 'szovetseg' %}
{% elseif level == 2 %}
    {% set childArrayName = 'teamsActive' %}
    {% set noItemsMessage = 'Nincsenek Körzetek.' %}
    {% set organizationTypeForUrl = 'korzet' %}
{% elseif level == 3 %}
    {% set childArrayName = 'troopsActive' %}
    {% set child2ArrayName = 'patrolsActive' %}
    {% set noItemsMessage = 'Nincsenek Csapatok.' %}
    {% set organizationTypeForUrl = 'csapat' %}
{% elseif level == 4 %}
    {% set childArrayName = 'patrolsActive' %}
    {% set noItemsMessage = 'Nincsenek Rajok.' %}
    {% set organizationTypeForUrl = 'raj' %}
{% elseif level == 5 %}
    {% set noItemsMessage = 'Nincsenek Őrsök.' %}
    {% set organizationTypeForUrl = 'ors' %}
{% endif %}

{% if array | length > 0 %}
    <div class="accordion accordion-flush">
        {% if level == 3 %}
            {% set array = array|sort((a, b) => a['team_number'] <=> b['team_number']) %}
        {% endif %}
        {% for item in array %}
            {% if item[childArrayName]|length > 0 or item['scoutsActive'] | length != 0 %}
            <div class="accordion-item my-3">
                {% if organizationTypeForUrl in this.page.id %}
                    {% partial __SELF__ ~ '::accordionbody'
                        item=item
                        level=level
                        childArrayName=childArrayName
                        child2ArrayName=child2ArrayName
                        headingId=headingId
                        collapseId=collapseId
                    %}
                {% else %}
                    <h2 class="accordion-header" id="{{ headingId ~ item['id'] }}">
                        <button class="accordion-button py-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="{{ '#' ~ collapseId ~ item['id'] }}" aria-expanded="false" aria-controls="{{ collapseId ~ item['id'] }}">
                            <a href="{{ url('/') ~ '/' ~ organizationTypeForUrl ~ '/' ~ item['id'] }}" title="{{ 'Látogasd meg a(z) ' ~ item['extended_name'] ~ ' oldalát' | _ }}">
                                <span>{{ item['extended_name'] }}</span>
                                <span class="bi bi-box-arrow-up-right"></span>
                            </a>
                        </button>
                    </h2>
                    <div id="{{ collapseId ~ item['id'] }}" class="accordion-collapse collapse" aria-labelledby="{{ headingId ~ item['id'] }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body py-0">

                            {% partial __SELF__ ~ '::accordionbody'
                                item=item
                                level=level
                                childArrayName=childArrayName
                                child2ArrayName=child2ArrayName
                                headingId=headingId
                                collapseId=collapseId
                            %}

                        </div>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <i>{{ noItemsMessage | _ }}</i>
{% endif %}
