{% if level == 1 %}
    <h2>{{ 'Szövetségek' | _ }}</h2>
    {% set childArrayName = 'districts' %}
    {% set noItemsMessage = 'Nincsenek Szövetségek.' %}
    {% set organizationTypeForUrl = 'szovetseg' %}
{% elseif level == 2 %}
    {% set childArrayName = 'teams' %}
    {% set noItemsMessage = 'Nincsenek Körzetek.' %}
    {% set organizationTypeForUrl = 'korzet' %}
{% elseif level == 3 %}
    {% set childArrayName = 'troops' %}
    {% set child2ArrayName = 'patrols' %}
    {% set noItemsMessage = 'Nincsenek Csapatok.' %}
    {% set organizationTypeForUrl = 'csapat' %}
{% elseif level == 4 %}
    {% set childArrayName = 'patrols' %}
    {% set noItemsMessage = 'Nincsenek Rajok.' %}
    {% set organizationTypeForUrl = 'raj' %}
{% elseif level == 5 %}
    {% set noItemsMessage = 'Nincsenek Őrsök.' %}
    {% set organizationTypeForUrl = 'ors' %}
{% endif %}

{% if array | length > 0 %}
    <div class="accordion accordion-flush">
        {% for item in array %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="{{ headingId ~ item.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="{{ '#' ~ collapseId ~ item.id }}" aria-expanded="false" aria-controls="{{ collapseId ~ item.id }}">
                        <a href="{{ organizationTypeForUrl ~ '/' ~ item.id }}" title="{{ 'Látogasd meg a(z) ' ~ item.name ~ ' oldalát' | _ }}">
                            <span>{{ item.name }}</span>
                            <span class="bi bi-box-arrow-up-right"></span>
                        </a>
                    </button>
                </h2>
                <div id="{{ collapseId ~ item.id }}" class="accordion-collapse collapse" aria-labelledby="{{ headingId ~ item.id }}" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        {# Show the number of scouts in the Teams, Troops and Patrols #}
                        {% if level > 2 %}
                        <p>{{ 'Tagok száma: ' ~ (item.scouts | length) | _ }}</p>
                        {% endif %}

                        {# Render child accordions for Associations, Districts, Teams and Troops #}
                        {% if level < 5 %}
                            {% partial __SELF__ ~ '::accordionItems' array=attribute(item, childArrayName) level=level+1 headingId=headingId~item.id~'-' collapseId=collapseId~item.id~'-' %}
                        {% endif %}

                        {# Render the Patrols too for the Teams #}
                        {% if level == 3 %}
                            {% partial __SELF__ ~ '::accordionItems' array=attribute(item, child2ArrayName) level=5 headingId=headingId~item.id~'-0-' collapseId=collapseId~item.id~'-0-' %}
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <i>{{ noItemsMessage | _ }}</i>
{% endif %}
