{% if level == 1 %}
    {% set childArrayName = 'districts' %}
    {% set organizationTypeForUrl = 'szovetseg' %}
{% elseif level == 2 %}
    {% set childArrayName = 'teams' %}
    {% set organizationTypeForUrl = 'korzet' %}
{% elseif level == 3 %}
    {% set childArrayName = 'troops' %}
    {% set organizationTypeForUrl = 'csapat' %}
{% elseif level == 4 %}
    {% set childArrayName = 'patrols' %}
    {% set organizationTypeForUrl = 'raj' %}
{% elseif level == 5 %}
    {% set organizationTypeForUrl = 'ors' %}
{% endif %}

{% set maxLevel = 3 %}

{% if array | length > 0 %}
    {% for item in array %}
        {% set active = (level == 1 or (item.status != 0)) %}
        {% if (level > 2 and item.getActiveScoutsCount() == 0) or (level == 1 and item.getActiveTeamsCount() == 0) %}
            {% set active = false %}
        {% endif %}
        {% if active %}
            {% if childArrayName and attribute(item, childArrayName)|length > 0 and level < maxLevel %}
                <li><a class="dropdown-item csat-nav-txt-wrap dropdown-toggle90">{{ item.extendedName }}</a>
                    <ul class="submenu dropdown-menu bg-primary {% if level == 2%}csat-menu-scroll{% endif %}">
                        <li><a class="dropdown-item dropdown-underline csat-nav-txt-wrap" href="{{ url('/') ~ '/' ~ organizationTypeForUrl ~ '/' ~ item.id }}">{{ item.extendedName }}</a>
                            {% partial __SELF__ ~ '::menuItems' array=attribute(item, childArrayName) level=level+1 %}
                        </li>
                    </ul>
            {% else %}
                <li><a class="dropdown-item csat-nav-txt-wrap" href="{{ url('/') ~ '/' ~ organizationTypeForUrl ~ '/' ~ item.id }}">{{ item.extendedName }}</a>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
