{% if level == 1 %}
    {% set childArrayName = 'districtsActive' %}
    {% set noItemsMessage = 'Nincsenek Szövetségek.' %}
    {% set organizationTypeForUrl = 'szovetseg' %}
{% elseif level == 2 %}
    {% set childArrayName = 'teamsActive' %}
    {% set noItemsMessage = 'Nincsenek Körzetek.' %}
    {% set organizationTypeForUrl = 'korzet' %}
{% elseif level == 3 %}
    {% set childArrayName = 'troopsActive' %}
    {% set child2ArrayName = 'patrolsActive' %}
    {% set noItemsMessage = 'Nincsenek Csapatok.' %}
    {% set organizationTypeForUrl = 'csapat' %}
{% elseif level == 4 %}
    {% set childArrayName = 'patrolsActive' %}
    {% set noItemsMessage = 'Nincsenek Rajok.' %}
    {% set organizationTypeForUrl = 'raj' %}
{% elseif level == 5 %}
    {% set noItemsMessage = 'Nincsenek Őrsök.' %}
    {% set organizationTypeForUrl = 'ors' %}
{% endif %}

{% set maxLevel = 3 %}

{% if array | length > 0 %}
    {% for item in array %}
        {% if level == 1 %}
            {% set scoutsCount = __SELF__.getAssociationScoutsCount(item['id']) %}
        {% endif %}
        {% if level == 2 %}
            {% set scoutsCount = __SELF__.getDistrictScoutsCount(item['id']) %}
        {% endif %}
        {% if level > 2 %}
            {% set scoutsCount = item['scoutsActive']|length %}
        {% endif %}
        {% set active = true %}
        {% if scoutsCount == 0 %}
            {% set active = false %}
        {% endif %}

        {% set associationTreePerimssions=item['associationTreePermissions'] ?? associationTreePerimssions ?? [] %}

        {% set hasViewRight = __SELF__.getViewRight(level, associationTreePerimssions) %}

        {% if active and hasViewRight %}
            {% if childArrayName and item[childArrayName]|length > 0 and level < maxLevel %}
            <li><a class="dropdown-item csat-nav-txt-wrap dropdown-toggle90">{{ item['extended_name'] }}</a>
                <ul class="submenu dropdown-menu bg-primary {% if level == 2%}csat-menu-scroll{% endif %}">
                    <li><a class="dropdown-item dropdown-underline csat-nav-txt-wrap" href="{{ url('/') ~ '/' ~ organizationTypeForUrl ~ '/' ~ item['id'] }}">{{ item['extended_name'] }}</a>
                        {% partial __SELF__ ~ '::menuItems' array=item[childArrayName] level=level+1 associationTreePerimssions=associationTreePerimssions %}
                </ul>
                {% else %}
            <li><a class="dropdown-item csat-nav-txt-wrap" href="{{ url('/') ~ '/' ~ organizationTypeForUrl ~ '/' ~ item['id'] }}">{{ item['extended_name'] }}</a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
