{% if level == 1 %}
    {% set childArrayName = 'districtsActive' %}
    {% set noItemsMessage = 'Nincsenek Szövetségek.' %}
    {% set organizationTypeForUrl = 'szovetseg' %}
{% elseif level == 2 %}
    {% set childArrayName = 'teamsActive' %}
    {% set noItemsMessage = 'Nincsenek Körzetek.' %}
    {% set organizationTypeForUrl = 'korzet' %}
{% elseif level == 3 %}
    {% set childArrayName = 'troopsActive' %}
    {% set child2ArrayName = 'patrolsActive' %}
    {% set noItemsMessage = 'Nincsenek Csapatok.' %}
    {% set organizationTypeForUrl = 'csapat' %}
{% elseif level == 4 %}
    {% set childArrayName = 'patrolsActive' %}
    {% set noItemsMessage = 'Nincsenek Rajok.' %}
    {% set organizationTypeForUrl = 'raj' %}
{% elseif level == 5 %}
    {% set noItemsMessage = 'Nincsenek Őrsök.' %}
    {% set organizationTypeForUrl = 'ors' %}
{% endif %}

{% set maxLevel = 3 %}

{% if array | length > 0 %}
    {% for item in array %}
        {% set active = (level == 1 or (item['status'] != 0)) %}
        {% if (level == 1 and (__SELF__.getAssociationScoutsCount(item['id'])|length == 0 or item['districtsActive']|length == 0))
            or (level == 2 and (__SELF__.getDistrictScoutsCount(item['id'])|length == 0 or item['teamsActive']|length == 0))
            or (level > 2 and item['scoutsActive']|length == 0)
        %}
            {% set active = false %}
        {% endif %}

        {% if active %}
            {% if childArrayName and item[childArrayName]|length > 0 and level < maxLevel %}
            <li><a class="dropdown-item csat-nav-txt-wrap dropdown-toggle90">{{ item['extended_name'] }}</a>
                <ul class="submenu dropdown-menu bg-primary {% if level == 2%}csat-menu-scroll{% endif %}">
                    <li><a class="dropdown-item dropdown-underline csat-nav-txt-wrap" href="{{ url('/') ~ '/' ~ organizationTypeForUrl ~ '/' ~ item['id'] }}">{{ item['extended_name'] }}</a>
                        {% partial __SELF__ ~ '::menuItems' array=item[childArrayName] level=level+1 %}
                </ul>
                {% else %}
            <li><a class="dropdown-item csat-nav-txt-wrap" href="{{ url('/') ~ '/' ~ organizationTypeForUrl ~ '/' ~ item['id'] }}">{{ item['extended_name'] }}</a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
