.collapse-button {
    height: 30px;
    width: 30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2378863F' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.5' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px 10px;
    padding: 0px !important;
}

.collapse-button:not(.collapsed) {
    rotate: 180deg;
    background-position: left center;
}

.checkbox-container {
    color: #99A56B;
    max-height: 200px;
    text-align: left;
}

.th-grid:has(button.sortButton) {
    position: relative;
}

.searchButton:hover {
    background-color: #F5F5F5;
}

select {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #cfd7e1;
    color: #78863F;
    font-size: 14px;
    height: 38px;
    line-height: 1.42857143;
    padding: 8px 25px 8px 13px;
    border-radius: 12px;
}

.pagination li {
    display: flex;
    align-items: stretch;
}

.pagination select {
    padding: 8px 8px 8px 13px;
}
