.collapse-button:after {
    font-family: arial !important;
    font-weight: bold !important;
    color: #78863F;
    content: "˄";
    float: right;
    padding: 5px 0px 0px 0px;
}

.collapse-button.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "˅";
}

.checkbox-container {
    color: #99A56B;
    max-height: 200px;
    text-align: left;
}

.th-grid:has(button.sortButton) {
    position: relative;
}

.sortButton {
    font-family: arial !important;
    font-weight: bold !important;
    color: #FFFFFF !important;
    position: absolute;
    right: 0px;
}

.sortButton::after {
    content: "˄˅";
}

.sortButton.asc::after {
    content: "˄";
}

.sortButton.desc::after {
    content: "˅";
}

.searchButton:hover {
    background-color: #F5F5F5;
}
