subject = "CsaTáR contact form notification"
==

Hello,

This is a notification from the CsaTáR contact form.

{% if fields|length %}
Sent form content:

{% for field in fieldsDetails %}
{% if field.label == 'form_description' or field.label == 'form_alias' %}
{% else %}
{{ field.label }}: {{ field.value|raw|nl2br }}
{% endif %}
{% endfor %}
{% endif %}

Best regards,
CsaTáR team

==

<p>Hello,</p>

<p>This is a notification from the CsaTáR contact form.</p>

{% if fields|length %}

<p>Sent form content:</p>

<table style="border: 0;">

    {% for field in fieldsDetails %}

    <tr>
        <th style="vertical-align: top; text-align: left; padding-right: 10px;">{{ field.label }}: </th>
        <td style="text-align: left;">{{ field.value|raw|nl2br }}</td>
    </tr>

    {% endfor %}

</table>

{% endif %}

<br>

<p>Best regards,<br>

CsaTáR team</p>
