subject = "Requested Password Reset"
description = "User requests a password reset"
==
Hello,

Somebody created a user account with this e-mail address, in case you don't want to use it, please ignore this email.

Use this activation code to set your password:

{% partial 'promotion' body %}
{{ code }}
{% endpartial %}

Or you can use the following link:

{% partial 'button' url=link type='positive' body %}
Set password
{% endpartial %}

{% partial 'subcopy' body %}
    **This is an automatic message. Please do not reply to it.**
{% endpartial %}
