subject = "Jelszó-visszaállítás kérés"
description = "A felhasználó jelszó-visszaállítást kérés"
==
Szia!

Valaki létrehozott ezzel az e-mail címmel egy felhasználói fiókot, amennyiben ezt nem igényled, kérjük, hagyd figyelmen kívül ezt az e-mailt.

Ezzel az aktiválási kóddal állíthatod be jelszavadat:

{% partial 'promotion' body %} {{ code }} {% endpartial %}

Vagy használhatod következő hivatkozást:

{% partial 'button' url=link type='positive' body %}Jelszó beállítása{% endpartial %}

{% partial 'subcopy' body %}Ez egy automatikus üzenet. Kérjük, ne válaszolj rá.{% endpartial %}
