{#
parameters:

permissionValue,
btnExtraClasses,
btnIconClass,
btnLabel
tooltip
buttonId
tooltip
dataRequest

#}

{% if permissionValue > 0 %}
    <button
        type="submit"
        class="btn rounded {{ btnExtraClasses }}"
        id="{{ buttonId }}"
        {% if tooltip %}
            data-toggle=tooltip
            data-placement=top
            title="{{ tooltip }}"
        {% endif %}
        {% if dataRequest %}
            data-request="{{ dataRequest }}"
        {% endif %}
    >
        <i class="{{ btnIconClass }}"></i> {{ btnLabel }}
    </button>
{% elseif permissionValue == 0 and not user.scout.is2FA() %}
    <span
        class="d-inline-block"
        tabindex="0"
        data-bs-toggle="tooltip"
        data-placement=top
        title="{{ 'Ez a funkció csak két faktoros hitelesítéssel érhető el!'|_ }}"
    >
        <button type="submit" class="btn rounded {{ btnExtraClasses }}" disabled><i class="csat-key-out-sm"></i> {{ btnLabel }}</button>
    </span>
{% endif %}
