{% set recordList = __SELF__.recordList %}
{% set attributesWithLabels = __SELF__.columnsToDisplay %}
{% set maxColumns = __SELF__.maxColumns %}

{% partial "@dataRequestButton"
    permissionValue = 1
    dataRequest = 'onExportToCsv'
    btnExtraClasses = 'btn-lg rounded btn-light mb-4'
    btnValue = 'Adatok letöltése csv-ben' |_
    btnIconClass = 'csat-download-fill-sm'
    btnLabel = 'Adatok letöltése csv-ben' |_
    tooltip = 'Adatok letöltése csv-ben' |_
%}

<div class="table csat-grid">
    <div class="tr d-none d-lg-block">
        <div class="card csat-resp-gdtable csat-border-lg-none">
            <div class="row p-3 py-lg-0 px-lg-3">
                {#% for attribute, label in attributesWithLabels|slice(0, maxColumns) %#}
                {% for attribute, label in attributesWithLabels %}
                    <div class="col">
                        <div class="th-grid">{{ label }}</div>
                    </div>
                {% endfor %}
                <div class="col"></div>
            </div>
        </div>
    </div>

    {% for record in recordList %}
        {% partial __SELF__ ~ '::listItem' record=record attributesWithLabels=attributesWithLabels maxColumns=maxColumns %}
    {% endfor %}
</div>
