<div class="tr">
    <div class="card csat-resp-gdtable csat-border-lg-none">
        <div class="row px-3 py-1 py-lg-0 px-lg-3">
            {% for attribute, label in attributesWithLabels %}
                <div class="col">
                    <p class="td label d-block d-lg-none">{{ label }}</p>
                    <p class="td">{{ record[attribute] }}</p>
                </div>
            {% endfor %}
            <div class="col">
                {% partial "@simpleATagButton"
                    permissionValue = 1
                    targetUrl = '/baleset/' ~ record.id
                    btnExtraClasses = 'btn-light m-lg-0 m-2'
                    btnIconClass = 'csat-file-out-sm'
                    btnLabel = 'Részletek' |_
                %}
            </div>
        </div>
    </div>
</div>
