.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 19.5px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
    box-shadow: none
}

.btn-default {
    color: #fff;
    border: none;
    background: #78863F
}

.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
    color: #fff;
    background: #99A56B;
    border-color: #99A56B
}

.btn-default.active, .btn-default:active, .open .dropdown-toggle.btn-default {
    background: #78863F;
    border-color: #78863F;
    background-image: none
}

.btn-default.on {
    background: #78863F;
    border-color: #78863F;
    background-image: none
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover {
    background: #78863F;
    border-color: #78863F
}

.btn-default .badge {
    color: #78863F;
    background: #fff
}

.btn-danger {
    color: #fff;
    border: none;
    background: #B83222
}

.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open .dropdown-toggle.btn-danger {
    color: #fff;
    background: #FFC5C1;
    border-color: #B83222
}

.btn-danger.active, .btn-danger:active, .open .dropdown-toggle.btn-danger {
    background: #c01c00;
    border-color: #df2100;
    background-image: none
}

.btn-danger.on {
    background: #df2100;
    border-color: #b11a00;
    background-image: none
}

.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover {
    background: #B83222;
    border-color: #ff2803
}

.btn {
    font-size: 13px;
    text-align: left;
    margin-bottom: 10px;
    outline: 0 !important
}

.btn[disabled] {
    color: rgba(255, 255, 255, .6)
}

.btn[class*=" oc-icon-"]:before, .btn[class^=oc-icon-]:before {
    font-size: 14px;
    line-height: 14px;
    position: relative;
    opacity: .6
}

.icon-search:before, .oc-icon-search:before {
    content: "\f002"
}

.icon-angle-up:before, .oc-icon-angle-up:before {
    content: "\f106"
}

.icon-angle-down:before, .oc-icon-angle-down:before {
    content: "\f107"
}

.icon-upload:before, .oc-icon-upload:before {
    content: "\f093"
}

.icon-mail-reply:before, .icon-reply:before, .oc-icon-mail-reply:before, .oc-icon-reply:before {
    content: "\f112"
}

.icon-floppy-o:before, .icon-save:before, .oc-icon-floppy-o:before, .oc-icon-save:before {
    content: "\f0c7"
}

.icon-close:before, .icon-remove:before, .icon-times:before, .oc-icon-close:before, .oc-icon-remove:before, .oc-icon-times:before {
    content: "\f00d"
}

.icon-calendar-o:before, .oc-icon-calendar-o:before {
    content: "\f133"
}

@font-face {
    font-family: FontAwesome;
    src: url(font/fontawesome-webfont.eot?v=1.0.1);
    src: url(font/fontawesome-webfont.eot?#iefix&v=1.0.1) format('embedded-opentype'), url(font/fontawesome-webfont.woff?v=1.0.1) format('woff'), url(font/fontawesome-webfont.ttf?v=1.0.1) format('truetype'), url(font/fontawesome-webfont.svg#fontawesomeregular?v=1.0.1) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"], [class^=icon-] {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0
}

[class*=" oc-icon-"]:before, [class^=oc-icon-]:before {
    display: inline-block;
    margin-right: 8px;
    font-family: FontAwesome;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    vertical-align: baseline
}

label {
    display: inline-block;
    font-size: calc(0.9rem + 0.2vw);
    color: #78863F
}

input[type=checkbox], input[type=radio] {
    margin: 6px 0 0;
    line-height: normal;
}

.form-group {
    margin-bottom: 15px
}

.checkbox label, .radio label {
    display: inline;
    font-weight: 400;
    cursor: pointer
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    float: left;
    margin-left: -20px
}

.form-elements:after, .form-elements:before, .form-tabless-fields:after, .form-tabless-fields:before {
    content: " ";
    display: table
}

.form-elements:after, .form-tabless-fields:after {
    clear: both
}

.form-group {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.form-group.is-required > .field-switch > label:after, .form-group.is-required > label:not(.custom-switch):after {
    color: #B83222;
    margin-left: 3px;
    font-size: calc(0.9rem + 0.2vw);
    content: " *"
}

.form-group.span-full {
    width: 100%;
    float: left
}

.form-group.span-left {
    float: left;
    width: 48.5%;
    clear: left
}

.form-group.span-right {
    float: right;
    width: 48.5%;
    clear: right
}

.input-with-icon > .icon {
    position: absolute;
    padding: 13px;
    pointer-events: none;
    color: #bdbdbd;
    font-size: 15px;
    margin-top: -1px
}

.input-with-icon.right-align > .icon {
    right: 0
}

.input-with-icon.right-align input {
    padding-right: 32px !important
}

.field-section {
    border-bottom: 1px solid #cfd7e1;
    padding-top: 3px;
    padding-bottom: 7px
}

.field-section > h4 {
    color: #78863F;
}

.field-section > h4:first-child, .field-section > p:first-child {
    margin: 0
}

.field-textarea {
    resize: vertical
}

.field-textarea.size-tiny {
    min-height: 50px
}

.field-textarea.size-small {
    min-height: 100px
}

.field-textarea.size-large {
    min-height: 200px
}

.field-textarea.size-huge {
    min-height: 250px
}

.field-textarea.size-giant {
    min-height: 350px
}

.field-checkboxlist .field-checkboxlist-inner {
    border-radius: 4px;
    background: #fff;
    border: 1px solid #cfd7e1
}

/*mindegyik egyik sem*/

.field-checkboxlist .checkboxlist-controls {
    font-size: 0;
    background: #fff;
}

.field-checkboxlist-scrollable {
    padding-left: 15px
}

.field-checkboxlist-scrollable .checkbox {
    margin-top: 15px;
    margin-bottom: 10px
}

.field-checkboxlist-scrollable .checkbox ~ .checkbox {
    margin-top: 0
}

.custom-checkbox, .custom-radio {
    padding-left: 23px;
    margin-top: 0
}

.custom-checkbox label, .custom-radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    margin-right: 15px;
    margin-left: -20px;
    font-size: calc(0.9rem + 0.2vw);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important
}

.select2-container--default {
    display: block
}

.select2-container--default .select2-selection {
    background-color: #fff;
    border: 1px solid #cfd7e1;
    border-radius: 4px;
    color: #78863F;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0
}

.select2-container--default .select2-search--dropdown {
    position: relative;
    padding: 9px 7px 0
}

.select2-container--default .select2-search--dropdown:after {
    position: absolute;
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f002";
    right: 16px;
    top: 12px;
    color: #95a5a6
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #fff;
    border: 1px solid #cfd7e1;
    border-radius: 4px;
    color: #78863F;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 6px;
    margin-bottom: 5px
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #78863F;
    color: #fff
}

.select2-container--default.select2-container--focus .select2-selection, .select2-container--default.select2-container--open .select2-selection {
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-color: #78863F
}

.select2-container--default .select2-dropdown {
    overflow-x: hidden;
    margin-top: 5px;
    padding-top: 0;
    border: 1px solid #d7e1ea;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: -2px 2px 5px rgba(67, 86, 100, .12);
    box-shadow: -2px 2px 5px rgba(67, 86, 100, .12)
}

.select2-container--default .select2-results > .select2-results__options {
    font-size: calc(0.9rem + 0.2vw);
    font-weight: 300;
    max-height: 200px;
    overflow-y: auto;
    padding: 7px
}


.select2-container--default .select2-selection--single {
    height: 38px;
    line-height: 1.42857143;
    padding: 8px 25px 8px 13px;
    border-radius: 12px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    bottom: 0;
    right: 13px;
    top: 0;
    width: 4px;
    border-radius: 12px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: absolute;
    top: 50%;
    height: 9px;
    width: 8px;
    right: 3px;
    margin-top: -5px;
    line-height: 9px;
    border-radius: 12px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f107";
    display: inline-block;
    border-radius: 12px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #78863F;
    padding: 0;
    border-radius: 12px
}

.pika-single {
    display: block;
    position: relative;
    width: 240px;
    padding: 8px;
    color: #333;
    background: #F5F5F5
}

.pika-single.is-hidden {
    display: none
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5)
}

.pika-footer, .pika-title {
    position: relative;
    text-align: center
}

.pika-label {
    color: #78863F;
    display: inline-block;
    position: relative;
    z-index: 10100;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: calc(0.9rem + 0.2vw);
    line-height: 20px;
    font-weight: 400;
    background-color: #F5F5F5
}

.pika-footer select, .pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 10099;
    margin: 0;
    left: 0;
    top: 5px;
    opacity: 0
}

.pika-next, .pika-prev {
    display: block;
    cursor: pointer;
    position: relative;
    outline: 0;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    opacity: .5
}

.pika-next:hover, .pika-prev:hover {
    opacity: 1
}

.is-rtl .pika-next, .pika-prev {
    float: left;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==)
}

.is-rtl .pika-prev, .pika-next {
    float: right;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=)
}

.pika-next.is-disabled, .pika-prev.is-disabled {
    cursor: default;
    opacity: .2
}

.pika-select {
    display: inline-block
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0
}

.pika-table td, .pika-table th {
    width: 14.28571429%
}

.pika-table th {
    color: #78863F;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    text-align: center
}

.pika-button {
    cursor: pointer;
    display: block;
    outline: 0;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #78863F;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5
}

.is-today .pika-button {
    color: #78863F;
    font-weight: 400
}

.is-selected .pika-button {
    color: #fff;
    font-weight: 400;
    background: #78863F;
    box-shadow: inset 0 1px 3px #78863F;
    border-radius: 3px
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #939393;
    opacity: .3
}

.pika-single {
    width: 310px
}

.pika-single .pika-button {
    border-radius: 999px !important;
    text-align: center;
    width: 29px;
    height: 29px;
    margin: 3px;
    background: 0 0
}

.pika-single .is-selected .pika-button {
    box-shadow: none;
    background: #78863F
}

.pika-single .pika-button:hover {
    color: #ffffff !important;
    background: #99A56B !important
}

.upload-remove-button {
    color: #b11a00 !important;
    text-decoration: none;
    font-weight: 400;
    font-size: calc(1.7rem + 1vw)
}

.add-remove-button-container {
    display: inline;
    float: right;
    padding: 0;
    margin: -7px
}

.icon-clock-o:before, .oc-icon-clock-o:before {
    content: "\f017"
}

.octo-icon-clock:before {
    content: "\e975"
}

.octo-icon-calendar-clock:before {
    content: "\e955"
}

.clockpicker-popover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box
}

.clockpicker-popover.top {
    margin-top: -10px
}

.clockpicker-popover.right {
    margin-left: 10px
}

.clockpicker-popover.bottom {
    margin-top: 10px
}

.clockpicker-popover.left {
    margin-left: -10px
}

.clockpicker-popover .popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0
}

.clockpicker-popover .popover-content {
    padding: 9px 14px
}

.clockpicker .input-group-addon {
    cursor: pointer
}

.clockpicker-moving {
    cursor: move
}

.clockpicker-align-left.popover > .arrow {
    left: 25px
}

.clockpicker-align-top.popover > .arrow {
    top: 17px
}

.clockpicker-align-right.popover > .arrow {
    left: auto;
    right: 25px
}

.clockpicker-align-bottom.popover > .arrow {
    top: auto;
    bottom: 6px
}

.clockpicker-popover .popover-title {
    background-color: #fff;
    color: #999;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center
}

.clockpicker-popover .popover-title span {
    cursor: pointer
}

.clockpicker-popover .popover-content {
    background-color: #f8f8f8;
    padding: 12px
}

.clockpicker-popover .popover-content:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.clockpicker-plate {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: visible;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.clockpicker-canvas, .clockpicker-dial {
    width: 200px;
    height: 200px;
    position: absolute;
    left: -1px;
    top: -1px
}

.clockpicker-minutes {
    visibility: hidden
}

.clockpicker-tick {
    border-radius: 50%;
    color: #666;
    line-height: 26px;
    text-align: center;
    width: 26px;
    height: 26px;
    position: absolute;
    cursor: pointer
}

.clockpicker-tick.active, .clockpicker-tick:hover {
    background-color: #c0e5f7;
    background-color: rgba(0, 149, 221, .25)
}

.clockpicker-dial {
    -webkit-transition: transform 350ms, opacity 350ms;
    transition: transform 350ms, opacity 350ms
}

.clockpicker-dial-out {
    opacity: 0
}

.clockpicker-hours.clockpicker-dial-out {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2)
}

.clockpicker-minutes.clockpicker-dial-out {
    -webkit-transform: scale(.8, .8);
    -ms-transform: scale(.8, .8);
    transform: scale(.8, .8)
}

.clockpicker-canvas {
    -webkit-transition: opacity 175ms;
    transition: opacity 175ms
}

.clockpicker-canvas-out {
    opacity: .25
}

.clockpicker-canvas-bearing, .clockpicker-canvas-fg {
    stroke: none;
    fill: #0095dd
}

.clockpicker-canvas-bg {
    stroke: none;
    fill: #c0e5f7
}

.clockpicker-canvas-bg-trans {
    fill: rgba(0, 149, 221, .25)
}

.clockpicker-canvas line {
    stroke: #0095dd;
    stroke-width: 1;
    stroke-linecap: round
}

.clockpicker-button.am-button {
    margin: 1px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px
}

.clockpicker-button.pm-button {
    margin: 1px 1px 1px 136px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px
}

.icon-calendar:before, .oc-icon-calendar:before {
    content: "\f073"
}

.icon-calendar-o:before, .oc-icon-calendar-o:before {
    content: "\f133"
}

.icon-calendar-plus-o:before, .oc-icon-calendar-plus-o:before {
    content: "\f271"
}

.icon-calendar-minus-o:before, .oc-icon-calendar-minus-o:before {
    content: "\f272"
}

.icon-calendar-times-o:before, .oc-icon-calendar-times-o:before {
    content: "\f273"
}

.icon-calendar-check-o:before, .oc-icon-calendar-check-o:before {
    content: "\f274"
}

.octo-icon-calendar:before {
    content: "\e9b7"
}

.octo-icon-calendar-o:before {
    content: "\ea47"
}

.octo-icon-calendar-plus-o:before {
    content: "\eb0f"
}

.octo-icon-calendar-minus-o:before {
    content: "\eb10"
}

.octo-icon-calendar-times-o:before {
    content: "\eb11"
}

.octo-icon-calendar-check-o:before {
    content: "\eb12"
}

.octo-icon-calendar-add:before {
    content: "\e951"
}

.octo-icon-calendar-3:before {
    content: "\e952"
}

.octo-icon-calendar-disable:before {
    content: "\e953"
}

.octo-icon-calendar-check:before {
    content: "\e954"
}

.octo-icon-calendar-clock:before {
    content: "\e955"
}

.octo-icon-calendar-check-1:before {
    content: "\e959"
}
