<p class="ss-autocomplete-result__title mb-0">
    <!-- small screen - mobile or tablet -->
    <div class="d-block d-lg-none">
        <a href="{{ result.url }}" class="pe-1">{{ result.title | raw }}</a>
        <span class="p-light lh-1">- {{ result.text | raw }}</span>
        {% if __SELF__.showProviderBadge %}
            <span class="ss-autocomplete-result__badge">
                {{ result.provider }}
            </span>
        {% endif %}
    </div>
    <!-- large screen -->
    <div class="d-none d-lg-block">
        <div class="d-flex flex-nowrap">
            <div class="text-nowrap">
                <a href="{{ result.url }}" class="pe-1">{{ result.title | raw }}</a>
            </div>
            <div>
                <span class="p-light lh-1">- {{ result.text | raw }}</span>
                {% if __SELF__.showProviderBadge %}
                    <span class="ss-autocomplete-result__badge">
                        {{ result.provider }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</p>
