[cookieBanner cookiebannerOverRide]
include_css = 1
update_selector = "#gdpr-reload"
cookie_manager_page = "index"

[session]
security = "all"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "kereses-erdmenyek.htm"

[twoFactorAuthentication]
==
<?php
function onStart()
{
    if (isset(Auth::user()->scout) && !Auth::user()->scout->accepted_at) {
        $allowedUrl = $this->controller->pageUrl('tag', [ 'ecset_code'=> Auth::user()->scout->ecset_code ] );
        $errorUrls = [
            $this->controller->pageUrl('error'),
            $this->controller->pageUrl('403'),
            $this->controller->pageUrl('404'),
        ];
        if ($this->controller->currentPageUrl() != $allowedUrl && !in_array($this->controller->currentPageUrl(), $errorUrls)) {
            return Redirect::to($allowedUrl);
        }
    }
}
?>
==
{% partial "site/layout" %}
