<div class="row">
    <p class="p-title">CSApat TÁmogatási Rendszer, azaz a</p>

    <h1>CSATÁR</h1>

    <p class="p-title">rendszer összefoglaló leírása</p>

    <p><i>A CSATÁR lényege, hogy egységes kereteket teremtsen kellő rugalmassággal ötvözve, amit minden csapat/raj/őrs/részben a vk a saját belátása szerint tölthet fel, ezzel elősegítve a hatékonyabb működést, de megőrizve közös nevelési kincseink továbbélését is.</i></p>

    <p>Az informatika adta lehetőségeket felhasználva: <span class="p-bold">strukturált tudásátadással és azok tervszerű rendszerbe állításával kívánunk hozzájárulni</span> – alapvetően – <span class="p-bold">a cserkészcsapatok működéséhez.</span> Az adminisztráció rengeteg időt vesz el a cserkészvezetőktől, amelyeket az ifjúság nevelésére, töltődésre, vagy új tudás megszerzésére lehet fordítani. Éppen ezért <span class="p-bold">olyan digitális alapokon nyugvó rendszert képzeltünk el, amely hozzájárul az adminisztratív munka csökkentéséhez és közben további tudás megszerzéséhez, azok rendszerezéséhez biztosít hozzáférést.</span></p>

    <p><span class="p-bold">A CSATÁR</span> önmagában <span class="p-bold">csak egy eszköz</span>, amely hozzájárul a cél eléréséhez. Felépítését tekintve webes (interneten keresztül elérhető) alapokon nyugvó multiplatform (számítógépeken és mobil eszközökön is jól használható) szoftver, amely képes valódi, hasznos és érteket képviselő̋ szolgáltatásokkal segítséget nyújtani a cserkészetben aktívan résztvevők számára.</p>

    <p>Az „eszköz” célja, hogy <span class="p-bold">a vezetőink mindennapi teendőit támogassa</span>, egy reszponzív webalkalmazás segítségével. Mindezt úgy, hogy jó példával szolgáljon és egyfajta digitális nevelést is megvalósítson, olyan téren, hogy miképpen lehet jól és hasznosan felhasználni az internet és a számítástechnika nyújtotta lehetőségeket.</p>

    <p>Az alapfunkciókon túl – amelyek a cserkésztársadalom hierarchikus struktúrájának kezelése, felhasználó́-kezelés, események, tudásbázis, hírek, hírlevelek, próbarendszer, munkatervek rendszere, tábor szervezése, jelentések (évi, táborozási) készítése, galéria, statikus oldalak – a projekt célja további addicionális kényelmi funkciókat is biztosítani a felhasználóknak. Mindezek felépítése és fejlesztése moduláris alapokra épül, tehát egymástól elkülönítve, de azokat végső soron egy helyen összefogva. Ennek okán <span class="p-bold">az alkalmazás kellő rugalmassággal rendelkezik és nyitott marad a későbbi fejlesztésekre.</span> Mindazonáltal <span class="p-bold">a már elkészült modulok is könnyebben változtathatók</span> a későbbiekben, hogy mindig az aktuális igényekhez lehessen szabni őket.</p>

    <p>A CSATÁR-ban a dokumentumok a létrehozásuk mellett tárolásra is kerülnek, így pedig sok év távlatából is visszatekinthetők (ezzel csökkentve az adatvesztés lehetőségét), így az újonnan bekerülő (pl. táborvezetők, csapatvezetők) vezetők átnézhetik elődjeik minden munkáját és kirajzolódik számukra egyfajta történet, amelyben minden változás és irány megtalálható. <span class="p-bold">Ez hatékonyabbá teszi a tapasztalat-feldolgozást és elősegíti a jobb működést.</span></p>
</div>
