<h4>{{ 'Tagság lekérdezése'|_ }}</h4>

{% if not is_exists %}
{{ 'Nem létezik'|_ }}
{% else %}
    <p><a href="/tag/{{ code }}">{{ 'Létezik'|_ }}</a></p>
    <p><a href="/csapat/{{ team_id }}">{{ team_number }}. {{ team_name }}</a></p>
    <p>{{ 'Státusz:'|_ }} {% if is_activ %} {{ 'aktiv'|_ }} {% else %} {{ 'inaktiv'|_ }} {% endif %}</p>
{% endif %}

<h4>{{ 'Másik tag lekérdezése:'|_ }}</h4>
<form class="text-left" data-request="onGetOtherScoutStatus" data-request-validate data-request-flash>
    <div class="form-group my-2">
        <input
            name="ecsk_code"
            type="text"
            class="form-control rounded bg-white"
            id="ecsk_code"
            placeholder="ECSK azonosito"/>
        <span data-validate-for="ecsk_code" class="errormsg">{{ 'Az ecset kódot kötelezően megkell adni!'|_ }}</span>
    </div>
    <button type="submit" class="btn rounded btn-primary my-3">{{ 'Ellenőrzés'|_ }}</button>
</form>
