<div class="row">
    <div class="col-lg-2 col-md-2">

    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 pb-5">
        <h2>{{ 'Tagság lekérdezése'|_ }}{% if code != -1 %}: {{ code }}{% endif %}</h2>
        {% if code != -1 %}
        {% if not is_exists %}
        {{ 'Nem létezik'|_ }}
        {% else %}
        <p><a href="/tag/{{ code }}">{{ is_user_logged_id ? scout_name : 'Létezik'|_ }}</a></p>
        <p><a href="/csapat/{{ team_id }}">{{ team_number }}. {{ team_name }}</a></p>
        <p><a href="/korzet/{{ district_id }}">{{ district_name }}</a></p>
        <p>{{ 'Státusz:'|_ }} {% if is_active %} {{ 'aktív'|_ }} {% else %} {{ 'inaktív'|_ }} {% endif %}</p>
        {% endif %}

        <p class="p-title">{{ 'Másik tag lekérdezése:'|_ }}</p>
        {% endif %}
        <form class="text-left" data-request="onGetOtherScoutStatus" data-request-validate data-request-flash>
            <div class="form-group">
                <input
                    name="ecsk_code"
                    type="text"
                    class="form-control rounded bg-white"
                    id="ecsk_code"
                    placeholder="{{ 'ECSK azonosító'|_ }}"/>
                <span data-validate-for="ecsk_code" class="errormsg">{{ 'Az ECSET kódot kötelező megadni!'|_ }}</span>
            </div>
            <button type="submit" class="btn rounded btn-primary my-3"><i class="csat-check-fill-wh-sm"></i> {{ 'Ellenőrzés'|_ }}</button>
        </form>
    </div>
    <div class="col-lg-2 col-md-2">

    </div>
</div>
