<div class="row ms-1 ms-sm-2 ms-md-4 ms-lg-5">
    <nav class="csat-brdcrmb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="csat-home-bc"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Háromszék körzet</a></li>
            <li class="breadcrumb-item"><a href="#">115. Bölöni Farkas Sándor cserkészcsapat</a></li>
            <li class="breadcrumb-item"><a href="#">Fiú raj</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mókus őrs</li>
        </ol>
    </nav>
</div>