description = "Default layout"

[csatarBreadcrumb]
==
<!DOCTYPE html>
<html class='h-100'>
<head>
    {% partial 'site/meta' %}
</head>
<body class="{{ 'page-'~this.page.id }} h-100 d-flex flex-column">

<!-- Header -->
<header id="layout-header">
    {% partial 'site/header' %}
</header>

<!-- Content -->
<div class="spacer-brdcrmb">
    {% component 'csatarBreadcrumb' %}
</div>
<section id="layout-content" class="flex-grow-1 mt-0">
    {% partial "site/staticMessages" %}
    {% page %}
</section>

<!-- Footer -->
<footer id="layout-footer">
    {% partial 'site/footer' %}
    {% component 'cookiebannerOverRide' %}
</footer>

</body>
</html>
