url = "/tag/:ecset_code/:action?"
layout = "default"
title = "Tag"

[basicForm]
formSlug = "tag"
recordKeyParam = "ecset_code"
recordActionParam = "action"
createRecordKeyword = "letrehozas"
actionUpdateKeyword = "modositas"
actionDeleteKeyword = "torles"

[viewBag]
localeTitle[en] = "Scout"
localeTitle[hu] = "Tag"
==
<?php
public function onAcceptPersonalData(){
    if (Auth::user()->scout->setPersonalDataAccepted()) {
        return \Redirect::refresh();
    }
}

?>
==
<div class="container">

    {% set scout = this.controller.vars.basicForm.record %}

    {% if user.scout.getRightsForModel(scout)['MODEL_GENERAL']['update'] > 0
        and this.param.action == false
        and this.param[this.controller.vars.basicForm.recordKeyParam] != this.controller.vars.basicForm.createRecordKeyword %}
        <form action="/tag/{{ scout[basicForm.recordKeyParam] }}/{{ basicForm.actionUpdateKeyword }}" method="post">
            <button type="submit" class="btn rounded btn-primary" value="{{ 'Tag módosítása' | _ }}"><i class="csat-useredit-fill-wh-md"></i></button>
        </form>
    {% endif %}

    {% if user.scout.isOwnModel(scout) and not scout.isPersonalDataAccepted()
        and this.param.action == false
        and this.param[this.controller.vars.basicForm.recordKeyParam] != this.controller.vars.basicForm.createRecordKeyword %}

        <button data-request="onAcceptPersonalData" data-request-loading="true"
                type="submit"
                class="btn rounded btn-primary"
                value="{{ 'Személyes adataim jóváhagyása' | _ }}">
            <i class="csat-check-fill-wh-sm"></i>
            {{ 'Személyes adataim jóváhagyása' | _ }}
        </button>

    <button
            type="button"
            data-request="onDoSomething"
            class="btn btn-default">
        Do Something
    </button>


    {% endif %}

    {% component 'basicForm' %}

    {% set teamChangeHistory = scout.getTeamChangeHistory() %}
    {% if teamChangeHistory|length > 0 %}
    <div class="col-12 mb-4">
        <div class="field-section toolbar-item toolbar-primary mb-2">
            <h4 style="display:inline;">{{ 'Előzmények' | _ }}</h4>
        </div>

            {% for teamChange in teamChangeHistory %}
                <div class="td my-1 p-2">{{ teamChange|raw }}</div>
            {% endfor %}
    </div>
    {% endif %}

    {% set mandatesInactive = scout.mandatesInactive %}
    {% if mandatesInactive|length > 0 %}
    <div class="field-section toolbar-item toolbar-primary mb-2">
        <h4 style="display:inline;">{{ 'Inaktív megbízatások' | _ }}</h4>
    </div>
    <div class="table csat-grid">
        <div class="tr d-none d-lg-block">
            <div class="card csat-resp-gdtable csat-border-lg-none">
                <div class="row">
                    <div class="col-6 col-lg">
                        <div class="th-grid">{{ 'Megbízatás neve'|_ }}</div>
                    </div>
                    <div class="col-6 col-lg">
                        <div class="th-grid">{{ 'Szervezeti egység'|_ }}</div>
                    </div>
                    <div class="col-6 col-lg">
                        <div class="th-grid">{{ 'Megbízatás kezdete'|_ }}</div>
                    </div>
                    <div class="col-6 col-lg">
                        <div class="th-grid">{{ 'Megbízatás vége'|_ }}</div>
                    </div>
                    <div class="col-6 col-lg">
                        <div class="th-grid">{{ 'Megjegyzés'|_ }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% for mandate in mandatesInactive %}
        <div class="tr">
            <div class="card csat-resp-gdtable csat-border-lg-none pt-lg-0 pt-3">
                <div class="row">
                    <div class="col-6 col-lg">
                        <p class="td label d-block d-lg-none">{{ 'Megbízatás neve'|_ }}</p>
                        <p class="td">{{ mandate.mandate_type.name }}</p>
                    </div>
                    <div class="col-6 col-lg">
                        <p class="td label d-block d-lg-none">{{ 'Szervezeti egység'|_ }}</p>
                        <p class="td">{{ mandate.mandate_model_name }}</p>
                    </div>
                    <div class="col-6 col-lg">
                        <p class="td label d-block d-lg-none">{{ 'Megbízatás kezdete'|_ }}</p>
                        <p class="td">{{ mandate.start_date }}</p>
                    </div>
                    <div class="col-6 col-lg">
                        <p class="td label d-block d-lg-none">{{ 'Megbízatás vége'|_ }}</p>
                        <p class="td">{{ mandate.end_date }}</p>
                    </div>
                    <div class="col-6 col-lg">
                        <p class="td label d-block d-lg-none">{{ 'Megjegyzés'|_ }}</p>
                        <p class="td">{{ mandate.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
