{% flash %}
<p
    data-control="flash-message"
    class="flash-message fade {{ type }}"
    data-interval="5">
    {{ message }}
</p>
{% endflash %}

{% if messageAbout2faFields|length > 0 %}
<div class="d-flex mb-3 w-100">
    <div class="csat-2fa-circle align-self-start">
        <i class="csat-key-out-lg p-1"></i>
    </div>
    <div class="csat-2fa-info align-self-center w-100">
        {{ messageAbout2faFields }}
    </div>
</div>
{% endif %}

<form data-request="{{ __SELF__ }}::onSave"
      data-request-loading="#fs-saving-loader"
      data-request-validate
      data-request-flash
      data-request-complete="window.positionValidationTags();">

    {{ form | raw }}
    <div id="additionalData">
        {{ additionalData | raw }}
    </div>

    <div class="alert alert-danger rounded" data-validate-error>
        <p data-message></p>
    </div>

    {% if not preview %}
        <div class="fs-nav">
            <div class="control-toolbar">
                <div class="toolbar-item toolbar-primary">
                    <div data-control="toolbar">
                        <div id="fs-saving-loader" style="float:left; display:none; width: 150px;" class="loading-indicator-container">
                            <div class="loading-indicator size-small" style="background:none;">
                                <span></span>
                                <div>{{ 'Mentés'|_ }}</div>
                            </div>
                        </div>

                        <div id="fs-closing-loader" style="float:left; display:none; width: 150px;" class="loading-indicator-container">
                            <div class="loading-indicator size-small" style="background:none;">
                                <span></span>
                                <div>{{ 'Bezárás'|_ }}</div>
                            </div>
                        </div>

                        <button type="button"
                                class="btn btn-sm rounded btn-primary oc-icon-reply"
                                data-request-data="close: 1"
                                data-request-loading="#fs-saving-loader"
                                data-request="{{ __SELF__ }}::onSave">
                            {{ 'Mentés és Bezárás'|_ }}
                        </button>

                        <button class="btn btn-sm rounded btn-primary oc-icon-floppy-o"
                               data-request="{{ __SELF__ }}::onSave"
                               data-request-loading="#fs-saving-loader"
                               data-hotkey="ctrl+s, cmd+s">
                           {{ 'Mentés'|_ }}
                        </button>

                        <button class="btn btn-sm rounded btn-danger oc-icon-times"
                               data-request="{{ __SELF__ }}::onCloseForm"
                                data-request-loading="#fs-closing-loader"
                               {% if writable %}
                               data-request-confirm="Unsaved changes will be lost. Are you sure?"
                               {% endif %}
                               >
                           {{ 'Bezárás'|_ }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="submission" value="{{ __SELF__.readOnly }}" />
        <input type="hidden" name="formId" value="{{ __SELF__.formId }}" />
        <input type="hidden" name="formUniqueId" value="{{ formUniqueId }}" />
        <input type="hidden" name="recordKeyParam" value="{{ recordKeyParam }}" />
        <input type="hidden" name="recordKeyValue" value="{{ recordKeyValue }}" />
        <input type="hidden" name="redirectOnClose" value="{{ redirectOnClose }}" />
        <input type="hidden" name="actionUpdateKeyword" value="{{ actionUpdateKeyword }}" />
        <input type="hidden" name="specialValidationExceptions" value="{{ specialValidationExceptions }}" />
        {% if __SELF__.relation is defined %}
            <input type="hidden" name="relation" value="{{ __SELF__.relation.id }}" />
            <input type="hidden" name="data_id" value="{{ data_id }}" />
        {% endif %}
    {% endif %}

</form>

<script>
    $(document).on('ajaxSetup', function(event, context) {
        $('[data-validate-for]').removeClass('visible');

        var $eventSelect = $('#Form-basicForm-field-data-address_county');

        if ($eventSelect.val() == '') {
            var cuc = $eventSelect.data();
            console.log(cuc);
        }

    })
</script>
