<form data-request="{{ __SELF__ }}::onSave"
      data-request-loading="#fs-saving-loader"
      data-request-validate
      data-request-flash>

    {{ form | raw }}
    {{ additionalData | raw }}

    {% if not preview %}
        <div class="fs-nav">
            <div class="control-toolbar">
                <div class="toolbar-item toolbar-primary">
                    <div data-control="toolbar">
                        <div id="fs-saving-loader" style="float:left; display:none; width: 150px;" class="loading-indicator-container">
                            <div class="loading-indicator size-small" style="background:none;">
                                <span></span>
                                <div>{{ 'Mentés'|_ }}</div>
                            </div>
                        </div>

                        <div id="fs-closing-loader" style="float:left; display:none; width: 150px;" class="loading-indicator-container">
                            <div class="loading-indicator size-small" style="background:none;">
                                <span></span>
                                <div>{{ 'Bezárás'|_ }}</div>
                            </div>
                        </div>

                        <button type="button"
                                class="btn btn-sm rounded btn-primary oc-icon-reply"
                                data-request-data="close: 1"
                                data-request-loading="#fs-saving-loader"
                                data-request="{{ __SELF__ }}::onSave">
                            {{ 'Mentés és Bezárás'|_ }}
                        </button>

                        <button class="btn btn-sm rounded btn-primary oc-icon-floppy-o"
                               data-request="{{ __SELF__ }}::onSave"
                               data-request-loading="#fs-saving-loader"
                               data-hotkey="ctrl+s, cmd+s">
                           {{ 'Mentés'|_ }}
                        </button>

                        <button class="btn btn-sm rounded btn-danger oc-icon-times"
                               data-request="{{ __SELF__ }}::onCloseForm"
                                data-request-loading="#fs-closing-loader"
                               {% if writable %}
                               data-request-confirm="Unsaved changes will be lost. Are you sure?"
                               {% endif %}
                               >
                           {{ 'Bezárás'|_ }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="submission" value="{{ __SELF__.readOnly }}" />
        <input type="hidden" name="formId" value="{{ __SELF__.formId }}" />
        <input type="hidden" name="formUniqueId" value="{{ formUniqueId }}" />
        <input type="hidden" name="recordKeyParam" value="{{ recordKeyParam }}" />
        <input type="hidden" name="recordKeyValue" value="{{ recordKeyValue }}" />
        <input type="hidden" name="redirectOnClose" value="{{ redirectOnClose }}" />
        <input type="hidden" name="actionUpdateKeyword" value="{{ actionUpdateKeyword }}" />
        {% if __SELF__.relation is defined %}
            <input type="hidden" name="relation" value="{{ __SELF__.relation.id }}" />
            <input type="hidden" name="data_id" value="{{ data_id }}" />
        {% endif %}
    {% endif %}

</form>

<script>
    $(document).on('ajaxSetup', function(event, context) {
        $('[data-validate-for]').removeClass('visible');
    })
</script>
