<div class="{{ 'col ' ~ class }}">
    <div class="my-2">
        <div class="d-flex justify-content-center pt-2 bg-white">
            {% if customImage == true %}
                <img class="rounded-circle csat-data-profile-img" src="{{ image }}" alt="" />
            {% else %}
                <img class="rounded-circle csat-data-profile-img" src="{{ image | theme }}" alt="" />
            {% endif %}
        </div>

        <div class="card csat-data-card csat-data-profile mx-auto">
            <h3 class="text-white text-center">{{ title }}</h3>
            {% for subtitle in subtitleFields %}
                <p class="p-bold text-center mb-0">{{ subtitle.value }}</p>
            {% endfor %}
            <p class="text-center mt-0"> </p>
            <hr class="mt-0">
            <p class="card-text text-white text-center"> </p>
            <div class="card-body rounded bg-light">
                {% for field in fields %}
                    <p class="p-bold mb-2 text-primary">{{ field.label ~ ': ' }}<span class="text-black card-text">{{ field.value }}</span></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
