{{ html|raw }}

<button class="btn btn-default btn-success"
        data-request="onSavePivotRelation"
        data-request-data="relationName: '{{ relationName }}', relationId: ' {{ relationId }}'">{{ 'Mentés'|_ }}</button>
<button class="btn btn-default btn-light" data-request="{{ __SELF__}}::onListAttachOptions" data-request-data="relationName: '{{ relationName }}'">{{ 'Vissza'|_ }}</button>
<button class="btn btn-default btn-light" data-request="onCloseAddEditArea" data-request-data="relationName: '{{ relationName }}'">{{ 'Mégse'|_ }}</button>
