{{ html|raw }}
<div class="mt-0 mb-2 errormsg" data-validate-for="{{ relationName }}" data-position-for="{{ relationName }}"></div>
<div>
    <button class="btn btn-sm rounded btn-primary" data-request="onAddPivotRelation" data-request-data="relationName: '{{ relationName }}'">
        <i class="csat-arrowright-out-wh-sm"></i>
        {{ 'Tovább'|_ }}
    </button>
    <button class="btn btn-sm rounded btn-light" data-request="onCloseAddEditArea" data-request-data="relationName: '{{ relationName }}'">
        <i class="csat-denied-fill-sm"></i>
        {{ 'Mégse'|_ }}
    </button>
</div>
