<div class="{{ class }}">
    <div class="row">
        <div class="col">
            <div class="{{ 'card shadow csat-data-card ' ~ color ~ ' mx-auto my-2' }}">
                <div class="card-body rounded">
                    <a href="{{ '#csat-data-collapse-' ~ name | replace({' ' : '-'}) }}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="{{ 'csat-data-collapse-' ~ name | replace({' ' : '-'}) }}">
                        <img class="p-2" src="{{ 'assets/images/csat_data_card_deco.svg' | theme }}" alt="" />
                    </a>
                    <p class="p-title">{{ name }}</p>
                    <hr>
                    <div class="row collapse collapse-on-sm" id="{{ 'csat-data-collapse-' ~ name | replace({' ' : '-'}) }}">
                        {% for field in fields %}
                            {% if name == 'Leírás' or name == 'Csapat története' or name == 'Vezetőség bemutatása' %}
                            <div class="col-12">
                            {% else %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                            {% endif %}
                                <p class="p-small mb-2 text-subtitle">{{ field.label }}</p>
                                <p class="card-text">{{ field.value }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
