<div class="{{ class }}">
    <div class="row">
        <div class="col">
            <div class="{{ 'card shadow csat-data-card ' . color . ' mx-auto my-2' }}">
                <div class="card-body rounded">
                    <a href="#csat-data-birth-collapse" data-bs-toggle="collapse" aria-expanded="false" aria-controls="csat-data-birth-collapse">
                        <img class="p-2" src="{{ 'assets/images/csat_data_card_deco.svg' | theme }}" alt="">
                    </a>
                    <p class="p-title">{{ name }}</p>
                    <hr>
                    <div class="row collapse collapse-on-sm" id="csat-data-birth-collapse">
                        {% for field in fields %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p class="p-small mb-2 text-subtitle">{{ field.label }}</p>
                                <p class="card-text">{{ field.value }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>