<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Breadcrumb' | _ }}</h5>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="row">
                <nav class="csat-brdcrmb" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="csat-home-bc"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Háromszék körzet</a></li>
                        <li class="breadcrumb-item"><a href="#">115. Bölöni Farkas Sándor cserkészcsapat</a></li>
                        <li class="breadcrumb-item"><a href="#">Fiú raj</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mókus őrs</li>
                    </ol>
                </nav>
            </div>

            <div class="row">
                <div class="col-12 bg-gray">
                    <code>
                        <span class="code-blue">&lt;nav </span><span class="code-bluel">class=</span><span class="code-red">"csat-brdcrmb" </span><span class="code-bluel">aria-label=</span><span class="code-red">"breadcrumb"</span><span class="code-blue">&gt;</span><br/>
                        &nbsp;&nbsp;<span class="code-blue">&lt;ol </span><span class="code-bluel">class=</span><span class="code-red">"breadcrumb"</span><span class="code-blue">&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;li </span><span class="code-bluel">class=</span><span class="code-red">"breadcrumb-item"<span class="code-blue">&gt;</span><span class="code-blue">&lt;a </span><span class="code-bluel">href=</span><span class="code-red">"#"</span><span class="code-blue">&gt;</span><span class="code-blue">&lt;i </span><span class="code-bluel">class=</span><span class="code-red">"csat-home-bc"<span class="code-blue">&gt;</span><span class="code-blue">&lt;/i&gt;</span><span class="code-blue">&lt;/a&gt;</span><span class="code-blue">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;li </span><span class="code-bluel">class=</span><span class="code-red">"breadcrumb-item"<span class="code-blue">&gt;</span></span><span class="code-blue">&lt;a </span><span class="code-bluel">href=</span><span class="code-red">"#"</span><span class="code-blue">&gt;</span><span class="text-black">step 1</span><span class="code-blue">&lt;/a&gt;</span><span class="code-blue">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-black">[path]</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;li </span><span class="code-bluel">class=</span><span class="code-red">"breadcrumb-item"<span class="code-blue">&gt;</span></span><span class="code-blue">&lt;a </span><span class="code-bluel">href=</span><span class="code-red">"#"</span><span class="code-blue">&gt;</span><span class="text-black">step n</span><span class="code-blue">&lt;/a&gt;</span><span class="code-blue">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;li </span><span class="code-bluel">class=</span><span class="code-red">"breadcrumb-item active" <span class="code-bluel">aria-current=</span><span class="code-red">"page"</span><span class="code-blue">&gt;</span><span class="text-black">Current page</span><span class="code-blue">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;<span class="code-blue">&lt;/ol&gt;</span><br/>
                        <span class="code-blue">&lt;/nav&gt;</span>
                    </code>
                </div>                        
            </div>

        </div>
    </div>
</div>