<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Breadcrumb' | _ }}</h5>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="row">
                <p class="p-small">RMCSSZ <i class="csat-breadcrumb"></i>
                    Háromszék körzet <i class="csat-breadcrumb"></i>
                    115. Bölöni Farkas Sándor cserkészcsapat <i class="csat-breadcrumb"></i>
                    Fiú raj <i class="csat-breadcrumb"></i>
                    <span class="p-bold text-primary">Mókus őrs</span>
                </p>
            </div>

            <div class="row">
                <div class="col-12 bg-gray">
                    <code>
                        <span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"p-small"</span><span class="code-blue">&gt;</span><span class="text-black">RMCSSZ </span><span class="code-blue">&lt;i </span><span class="code-bluel">class=</span><span class="code-red">"csat-breadcrumb"</span><span class="code-blue">&gt;</span><span class="code-blue">&lt;/i</span><span class="code-blue">&gt;</span><span class="text-black"> [path] </span><span class="code-blue">&lt;i </span><span class="code-bluel">class=</span><span class="code-red">"csat-breadcrumb"</span><span class="code-blue">&gt;</span><span class="code-blue">&lt;/i&gt;</span><span class="code-blue">&lt;span </span><span class="code-bluel">class=</span><span class="code-red">"p-bold text-primary"</span><span class="code-blue">&gt;</span><span class="text-black">Mókus őrs </span><span class="code-blue">&lt;/span&gt;</span><span class="code-blue">&lt;/p&gt;</span>
                    </code>
                </div>                        
            </div>

        </div>
    </div>
</div>