<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Gombok' | _ }}</h5>
        </div>
        <div class="col-lg-8 col-md-12">
            
            {#Small#}
            <div class="row pb-3">
                <div class="col-3">
                    <p class="m-0">{{ 'Kicsi gombok' | _ }}</p>
                </div>

                <div class="col-8">
                    <button type="button" class="btn btn-sm rounded btn-primary me-2">
                        {{ 'Bejelentkezés' | _ }}
                    </button>
                    <button type="button" class="btn btn-sm rounded btn-light me-2">
                        {{ 'Bejelentkezés' | _ }}
                    </button>
                    <button type="button" class="btn btn-sm rounded btn-danger me-2">
                        {{ 'Vigyázat&#33;' | _ }}
                    </button>
                </div>
            </div>

            {#Small code snippet#}
            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-sm rounded btn-primary"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><br/>{{ 'Bejelentkezés' | _ }}</span><span class="code-blue"></span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-sm rounded btn-light"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><br/>{{ 'Bejelentkezés' | _ }}</span><span class="code-blue"></span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row pb-3">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-sm rounded btn-danger"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><br/>{{ 'Vigyázat&#33;' | _ }}</span><span class="code-blue"></span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            {#Normal#}
            <div class="row pb-3">
                <div class="col-3">
                    <p class="m-0">{{ 'Normál gombok' | _ }}</p>
                </div>

                <div class="col-8">
                    <button type="button" class="btn rounded btn-primary mb-2">
                        {{ 'Bejelentkezés Google fiókkal' | _ }}
                    </button><br/>
                    <button type="button" class="btn rounded btn-light mb-2">
                        {{ 'Bejelentkezés Google fiókkal' | _ }}
                    </button><br/>
                    <button type="button" class="btn rounded btn-danger">
                        {{ 'Vigyázat&#33;' | _ }}
                    </button>
                </div>   
            </div>

            {#Normal code snippet#}
            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn rounded btn-primary"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><br/>{{ 'Bejelentkezés Google fiókkal' | _ }}</span><span class="code-blue"></span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn rounded btn-light"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><br/>{{ 'Bejelentkezés Google fiókkal' | _ }}</span><span class="code-blue"></span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row pb-3">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn rounded btn-danger"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><br/>{{ 'Vigyázat&#33;' | _ }}</span><span class="code-blue"></span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            {#Large#}
            <div class="row pb-3">
                <div class="col-3">
                    <p class="m-0">{{ 'Nagy gombok' | _ }}</p>
                </div>

                <div class="col-8">
                    <button type="button" class="btn btn-lg rounded btn-primary mb-2">
                        {{ 'Bejelentkezés Facebook fiókkal' | _ }}
                    </button><br/>
                    <button type="button" class="btn btn-lg rounded btn-light mb-2">
                        {{ 'Bejelentkezés Facebook fiókkal' | _ }}
                    </button><br/>
                    <button type="button" class="btn btn-lg rounded btn-danger">
                        {{ 'Vigyázat&#33;' | _ }}
                    </button>
                </div>   
            </div>

            {#Large code snippet#}
            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-lg rounded btn-primary"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><br/>{{ 'Bejelentkezés Facebook fiókkal' | _ }}</span> <span class="code-blue"></span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-lg rounded btn-light"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><br/>{{ 'Bejelentkezés Facebook fiókkal' | _ }}</span><span class="code-blue"></span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>
            </div>

            <div class="row pb-3">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-lg rounded btn-light"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><br/>{{ 'Vigyázat&#33;' | _ }}</span><span class="code-blue"></span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>
            </div>

            {#Buttons with icons#}
            <div class="row pb-3">
                <div class="col-3">
                    <p class="m-0">{{ 'Gombok ikonokkal' | _ }}</p>
                </div>

                <div class="col-8">
                    <button type="button" class="btn btn-sm rounded btn-light">
                        <i class="key-fill-sm"></i><br/>
                        {{ 'Bejelentkezés' | _ }}
                    </button>
                    <button type="button" class="btn rounded btn-light">
                        <i class="key-fill-md"></i>
                    </button>
                </div>   
            </div>

            {#Buttons with icons code snippet#}
            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-sm rounded btn-light"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><span class="code-blue"><br/>&lt;i </span></span><span class="code-bluel">class=</span><span class="code-red">"key-fill-sm"</span><span class="code-blue">&gt;&lt;/i&gt;</span><br/><span class="text-black">{{ 'Bejelentkezés' | _ }}</span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row pb-3">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn rounded btn-light"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><span class="code-blue"><br/>&lt;i </span></span><span class="code-bluel">class=</span><span class="code-red">"key-fill-md"</span><span class="code-blue">&gt;&lt;/i&gt;</span><br/><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>
            </div>

            {#Micro buttons#}
            <div class="row pb-3">
                <div class="col-3">
                    <p class="m-0">{{ 'Mikró gombok' | _ }}</p>
                </div>

                <div class="col-8">
                    <button type="button" class="btn btn-xs rounded btn-primary">
                        <i class="bi bi-check-lg"></i>
                    </button>
                    <button type="button" class="btn btn-xs rounded btn-light">
                        <i class="bi bi-plus-square"></i>
                    </button>
                    <button type="button" class="btn btn-xs rounded btn-danger">
                        <i class="bi bi-x-circle"></i>
                    </button>
                </div>   
            </div>

            {#Micro buttons code snippet#}
            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-xs rounded btn-primary"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><span class="code-blue"><br/>&lt;i </span></span><span class="code-bluel">class=</span><span class="code-red">"bi bi-check-lg"</span><span class="code-blue">&gt;&lt;/i&gt;</span><br/></span><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-xs rounded btn-light"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><span class="code-blue"><br/>&lt;i </span></span><span class="code-bluel">class=</span><span class="code-red">"bi bi-plus-square"</span><span class="code-blue">&gt;&lt;/i&gt;</span><br/></span><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>   
            </div>

            <div class="row pb-3">
                <div class="col-3">
                </div>

                <div class="col-9 bg-gray pb-3">
                    <code>
                    <span class="code-blue">&lt;button </span><span class="code-bluel">type=</span><span class="code-red">"button"</span> <span class="code-bluel">class=</span><span class="code-red">"btn btn-xs rounded btn-danger"</span><span class="code-blue">&gt;</span><span class="code-blue"></span><span class="text-black"><span class="code-blue"><br/>&lt;i </span></span><span class="code-bluel">class=</span><span class="code-red">"bi bi-x-circle"</span><span class="code-blue">&gt;&lt;/i&gt;</span><br/></span><span class="code-blue">&lt;/button&gt;</span>
                    </code>
                </div>
            </div>
        </div>
    </div>
</div>
