<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Kártyák' | _ }}</h5>
        </div>
        
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card m-2">
                        <img class="p-2" src="{{ 'assets/images/under_construction.svg' | theme }}" alt="">
                        <div class="card-body bg-light">
                            <h5 class="card-title">{{ 'Kártya cím' | _ }}</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button type="button" class="btn btn-sm rounded btn-primary">
                                {{ 'Tovább' | _ }}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card m-2">
                        <img class="p-2" src="{{ 'assets/images/under_construction.svg' | theme }}" alt="">
                        <div class="card-body bg-background2">
                            <h5 class="card-title">{{ 'Kártya cím' | _ }}</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                            <button type="button" class="btn btn-sm rounded btn-primary">
                                {{ 'Tovább' | _ }}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'Kártya cím' | _ }}</h5>
                            <p class="small mb-2 text-subtitle">{{ 'Kártya alcím' | _ }}</p>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <button type="button" class="btn btn-sm rounded btn-light">
                                {{ 'Tovább' | _ }}
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
