<div class="container pt-5">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Színminták' | _ }}</h5>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <p class="m-0">{{ 'Elsődleges' | _ }}</p>
                    <div class="swatch bg-primary text-white rounded position-relative me-2">
                        <div class="ps-2 pt-5">
                        <p class="p-title">#78863F
                        </p>
                        </div>
                    </div>
                    <p class="m-0">{{ 'Lebegő' | _ }}</p>
                    <div class="swatch-narrow bg-primary-hover text-white rounded position-relative me-2">
                        <div class="ps-2 pt-4">
                        <p class="p-title">#99A56B
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <p class="m-0">{{ 'Másodlagos' | _ }}</p>
                    <div class="swatch bg-secondary text-white rounded position-relative me-2">
                        <div class="ps-2 pt-5">
                        <p class="p-title">#FFCE00
                        </p>
                        </div>
                    </div>
                    <p class="m-0">{{ 'Lebegő' | _ }}</p>
                    <div class="swatch-narrow bg-secondary-hover text-dark rounded position-relative me-2">
                        <div class="ps-2 pt-4">
                        <p class="p-title">#FFF0B2
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <p class="m-0">{{ 'Információ' | _ }}</p>
                    <div class="swatch bg-info text-white rounded position-relative me-2">
                        <div class="ps-2 pt-5">
                        <p class="p-title">#63511C
                        </p>
                        </div>
                    </div>
                    <p class="m-0">{{ 'Lebegő' | _ }}</p>
                    <div class="swatch-narrow bg-info-hover text-white rounded position-relative me-2">
                        <div class="ps-2 pt-4">
                        <p class="p-title">#9D802F
                        </p>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                    <p class="m-0">{{ 'Veszély' | _ }}</p>
                    <div class="swatch bg-danger text-white rounded position-relative me-2">
                        <div class="ps-2 pt-5">
                        <p class="p-title">#B83222
                        </p>
                        </div>
                    </div>
                    <p class="m-0">{{ 'Lebegő' | _ }}</p>
                    <div class="swatch-narrow bg-danger-hover text-white rounded position-relative me-2">
                        <div class="ps-2 pt-4">
                        <p class="p-title">#FFC5C1
                        </p>
                        </div>
                    </div>                        
                </div>                    
            </div>

            <div class="row mt-4">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <p class="m-0">{{ 'Háttér 2' | _ }}</p>
                    <div class="swatch bg-background2 text-white rounded position-relative me-2">
                        <div class="ps-2 pt-5">
                        <p class="p-title">#E0C89D
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <p class="m-0">{{ 'Szürke háttér' | _ }}</p>
                    <div class="swatch bg-gray text-dark rounded position-relative me-2">
                        <div class="ps-2 pt-5">
                        <p class="p-title">#DDDDDD
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <p class="m-0">{{ 'Alcím' | _ }}</p>
                    <div class="swatch subtitle text-white rounded position-relative me-2">
                        <div class="ps-2 pt-5">
                        <p class="p-title">#939393
                        </p>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="row mt-4">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <p class="m-0">{{ 'Sötét' | _ }}</p>
                    <div class="swatch bg-dark text-white rounded position-relative me-2">
                        <div class="ps-2 pt-5">
                        <p class="p-title">#000000
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <p class="m-0">{{ 'Világos' | _ }}</p>
                    <div class="swatch bg-light text-dark rounded position-relative me-2">
                        <div class="ps-2 pt-5">
                        <p class="p-title">#F5F5F5
                        </p>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
