<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Hibaüzenetek' | _ }}</h5>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                        <div class="alert alert-danger rounded">
                            <p>Az adat megadása kötelező!</p>
                        </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 bg-gray">
                    <code>
                        <span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"alert alert-danger rounded"</span><span class="code-blue">&gt;</span><br/>
                        &nbsp;&nbsp;<span class="code-blue">&lt;p</span><span class="code-blue">&gt;</span><span class="text-black">Az adat megadása kötelező!</span><span class="code-blue">&lt;/p&gt;</span><br/>
                        <span class="code-blue">&lt;/div&gt;</span>
                    </code>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-12">
                        <div class="alert alert-danger rounded">
                            <ul>
                                <li>1 - Hibaüzenet</li>
                                <li>2 - Hibaüzenet</li>
                                <li>3 - Hibaüzenet</li>
                            </ul>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 bg-gray">
                    <code>
                        <span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"alert alert-danger rounded"</span><span class="code-blue">&gt;</span><br/>
                        &nbsp;&nbsp;<span class="code-blue">&lt;ul</span><span class="code-blue">&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;li</span><span class="code-blue">&gt;</span><span class="text-black">1 - Hibaüzenet</span><span class="code-blue">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;li</span><span class="code-blue">&gt;</span><span class="text-black">1 - Hibaüzenet</span><span class="code-blue">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;li</span><span class="code-blue">&gt;</span><span class="text-black">1 - Hibaüzenet</span><span class="code-blue">&lt;/li&gt;</span><br/>
                        &nbsp;&nbsp;<span class="code-blue">&lt;/ul</span><span class="code-blue">&gt;</span><br/>
                        <span class="code-blue">&lt;/div&gt;</span>
                    </code>
                </div>
            </div>
        </div>

    </div>
</div>
