<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Flash üzenetek' | _ }}</h5>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
                <p>Az oldal tetején megjelenő flash üzenet megjelenítéséhez klikkelj valamelyik gombra</p>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 mb-3">

                            <a href="#" class="btn btn-primary mb-3" onclick="$.oc.flashMsg({text: '{{ 'Sikeres folyamat viszzaigazolása' | _ }}', 'class': 'success'}); return false;">
                                {{ 'Siker' | _ }}
                            </a>

                            <a href="#" class="btn btn-info mb-3" onclick="$.oc.flashMsg({text: '{{ 'Informáló üzenet' | _ }}', 'class': 'info'}); return false;">
                                {{ 'Információ' | _ }}
                            </a>

                            <a href="#" class="btn btn-warning mb-3" onclick="$.oc.flashMsg({text: '{{ 'Figyelmeztető üzenet' | _ }}', 'class': 'warning'}); return false;">
                                {{ 'Figyelmeztetés' | _ }}
                            </a>

                            <a href="#" class="btn btn-danger mb-3" onclick="$.oc.flashMsg({text: '{{ 'Hiba!' | _ }}', 'class': 'error'}); return false;">
                                {{ 'Hiba!' | _ }}
                            </a>
                </div>
            </div>
        </div>
    </div>
</div>
