<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Grid' | _ }}</h5>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-3">
                    <div class="card d-none d-lg-block bg-primary text-white">
                        <p class="label text-center">{{ 'Fejléc 1 LG' | _ }}</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card d-none d-lg-block bg-primary text-white">
                        <p class="label text-center">{{ 'Fejléc 2 LG' | _ }}</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card d-none d-lg-block bg-primary text-white">
                        <p class="label text-center">{{ 'Fejléc 3 LG' | _ }}</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card d-none d-lg-block bg-primary text-white">
                        <p class="label text-center">{{ 'Fejléc 4 LG' | _ }}</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="card grid">
                        <div class="row d-block d-lg-none">
                            <p class="label">{{ 'Fejléc 1 SM' | _ }}</p>
                        </div>
                        <div class="row">
                            <p class="data">{{ 'Adat1' | _ }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card grid">
                        <div class="row d-block d-lg-none">
                            <p class="label">{{ 'Fejléc 2 SM' | _ }}</p>
                        </div>
                        <div class="row">
                            <p class="data">{{ 'Adat2' | _ }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card grid">
                        <div class="row d-block d-lg-none">
                            <p class="label">{{ 'Fejléc 3 SM' | _ }}</p>
                        </div>
                        <div class="row">
                            <p class="data">{{ 'Adat3' | _ }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card grid">
                        <div class="row d-block d-lg-none">
                            <p class="label">{{ 'Fejléc 4 SM' | _ }}</p>
                        </div>
                        <div class="row">
                            <p class="data">{{ 'Adat4' | _ }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="card grid">
                        <div class="row d-block d-lg-none">
                            <p class="label">{{ 'Fejléc 1 SM' | _ }}</p>
                        </div>
                        <div class="row">
                            <p class="data">{{ 'Adat11' | _ }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card grid">
                        <div class="row d-block d-lg-none">
                            <p class="label">{{ 'Fejléc 2 SM' | _ }}</p>
                        </div>
                        <div class="row">
                            <p class="data">{{ 'Adat22' | _ }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card grid">
                        <div class="row d-block d-lg-none">
                            <p class="label">{{ 'Fejléc 3 SM' | _ }}</p>
                        </div>
                        <div class="row">
                            <p class="data">{{ 'Adat33' | _ }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card grid">
                        <div class="row d-block d-lg-none">
                            <p class="label">{{ 'Fejléc 4 SM' | _ }}</p>
                        </div>
                        <div class="row">
                            <p class="data">{{ 'Adat44' | _ }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 bg-gray mt-3 pb-3">
                <code>
                <span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"row"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"col-3"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"card d-none d-lg-block bg-primary text-white"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"label text-center"</span><span class="code-blue">&gt;</span><span class="text-black">&#123;&#123; 'Fejléc 1 LG' &#124; _ &#125;&#125;</span><span class="code-blue">&lt;/p&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                <span class="code-blue">&lt;/div&gt; </span><br/>


                <span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"row"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"col-6 col-lg-3"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"card grid"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"row d-block d-lg-none"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"label"</span><span class="code-blue">&gt;</span><span class="text-black">&#123;&#123; 'Fejléc 1 SM' &#124; _ &#125;&#125;</span><span class="code-blue">&lt;/p&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"row"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"data"</span><span class="code-blue">&gt;</span><span class="text-black">&#123;&#123; 'Adat1' &#124; _ &#125;&#125;</span><span class="code-blue">&lt;/p&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                <span class="code-blue">&lt;/div&gt; </span>
                </code>
            </div>   
            
        </div>        
    </div>
</div>
