<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Grid' | _ }}</h5>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="pb-4 w-50">
                <code class="bg-gray">
                    <span class="code-blue">&lt;div</span>
                    <span class="code-bluel">class=</span><span class="code-red"></span>"th"</span><span class="code-blue">&gt;</span>...<span class="code-blue">&lt;/div&gt;</span>
                </code>
                <div>
                    <div>
                        <div class="th">{{ 'Fejléc 1' | _ }}</div>
                    </div>
                </div>
            </div>

            <div class="pb-4 w-50">
                <code class="bg-gray">
                    <span class="code-blue">&lt;div</span>
                    <span class="code-bluel">class=</span><span class="code-red">"th th2"</span><span class="code-blue">&gt;</span>...<span class="code-blue">&lt;/div&gt;</span>
                </code>
                <div>
                    <div>
                        <div class="th th2">{{ 'Fejléc 2' | _ }}</div>
                    </div>
                </div>
            </div>

            <div class="pb-4 w-50">
                <code class="bg-gray">
                    <span class="code-blue">&lt;div</span>
                    <span class="code-bluel">class=</span><span class="code-red">"th th3"</span><span class="code-blue">&gt;</span>...<span class="code-blue">&lt;/div&gt;</span>
                </code>
                <div>
                    <div>
                        <div class="th th3">{{ 'Fejléc 3' | _ }}</div>
                    </div>
                </div>
            </div>

            <div class="pb-4 w-50">
                <code class="bg-gray">
                    <span class="code-blue">&lt;div</span>
                    <span class="code-bluel">class=</span><span class="code-red">"td m-1"</span><span class="code-blue">&gt;</span>...<span class="code-blue">&lt;/div&gt;</span>
                </code>
                <div>
                    <div class="row">
                        <div class="td m-1">{{ 'Cella' | _ }}</div>
                    </div>
                    <div class="row">
                        <div class="td m-1">{{ 'Cella' | _ }}</div>
                    </div>
                </div>
            </div>

            <hr class="hr-single bg-gray">

            <div>
                <div class="row">
                    <div class="th m-1">{{ 'Fejléc 1' | _ }}</div>
                </div>
                <div class="row">
                    <div class="th th2 m-1 col">{{ 'Fejléc 2' | _ }}</div>
                    <div class="th th2 m-1 col">{{ 'Fejléc 3' | _ }}</div>
                </div>
                <div class="row">
                    <div class="th th3 m-1 col">{{ 'Fejléc 3' | _ }}</div>
                    <div class="th th3 m-1 col">{{ 'Fejléc 3' | _ }}</div>
                    <div class="th th3 m-1 col">{{ 'Fejléc 3' | _ }}</div>
                    <div class="th th3 m-1 col">{{ 'Fejléc 3' | _ }}</div>
                </div>
                <div class="row">
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                </div>
                <div class="row">
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                </div>
                <div class="row">
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                </div>
                <div class="row">
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                    <div class="td m-1 col">{{ 'Adat' | _ }}</div>
                </div>
            </div>

            <hr class="hr-single bg-gray">
            
            <h5 class="pt-4">{{ 'Rögzített cella szélesség' | _ }}</h5>
            <div>
                <code class="bg-gray">
                    <span class="code-blue">&lt;div</span>
                    <span class="code-bluel">class=</span><span class="code-red">"td m-1 col"</span><span class="code-blue">&gt;</span><span class="code-blue">&lt;/div&gt;</span>
                </code>
            </div>
            <div>
                <div class="row">
                    <div class="td m-1 col">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="td m-1 col">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
                <div class="row">
                    <div class="td m-1 col">
                        Lorem ipsum dolor sit amet, consectetur
                    </div>
                    <div class="td m-1 col">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
