<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Rács' | _ }}</h5>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="table csat-grid">
                <div class="tr d-none d-lg-block">
                    <div class="card csat-resp-gdtable csat-border-lg-none">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <div class="th-grid">{{ 'Fejléc 1 LG' | _ }}</div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="th-grid">{{ 'Fejléc 2 LG' | _ }}</div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="th-grid">{{ 'Fejléc 3 LG' | _ }}</div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="th-grid">{{ 'Fejléc 4 LG' | _ }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tr">
                    <div class="card csat-resp-gdtable csat-border-lg-none">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <p class="td label d-block d-lg-none">{{ 'Fejléc 1 SM' | _ }}</p>
                                <p class="td">Adat1</p>
                            </div>
                            <div class="col-6 col-lg-3">
                                <p class="td label d-block d-lg-none">{{ 'Fejléc 2 SM' | _ }}</p>
                                <p class="td">Adat2</p>
                            </div>
                            <div class="col-6 col-lg-3">
                                <p class="td label d-block d-lg-none">{{ 'Fejléc 3 SM' | _ }}</p>
                                <p class="td">Adat3</p>
                            </div>
                            <div class="col-6 col-lg-3">
                                <p class="td label d-block d-lg-none">{{ 'Fejléc 4 SM' | _ }}</p>
                                <p class="td">Adat4</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tr">
                    <div class="card csat-resp-gdtable csat-border-lg-none">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <p class="td label d-block d-lg-none">{{ 'Fejléc 1 SM' | _ }}</p>
                                <p class="td">Adat11</p>
                            </div>
                            <div class="col-6 col-lg-3">
                                <p class="td label d-block d-lg-none">{{ 'Fejléc 2 SM' | _ }}</p>
                                <p class="td">Adat22</p>
                            </div>
                            <div class="col-6 col-lg-3">
                                <p class="td label d-block d-lg-none">{{ 'Fejléc 3 SM' | _ }}</p>
                                <p class="td">Adat33</p>
                            </div>
                            <div class="col-6 col-lg-3">
                                <p class="td label d-block d-lg-none">{{ 'Fejléc 4 SM' | _ }}</p>
                                <p class="td">Adat44</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 bg-gray mt-3 pb-3">
                <code>
                <span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"table csat-grid"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"tr d-none d-lg-block"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"card csat-resp-gdtable csat-border-lg-none"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"row"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"col-6 col-lg-3"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"th-grid"</span><span class="code-blue">&gt;</span><span class="text-black">&#123;&#123; 'Fejléc 1 LG' &#124; _ &#125;&#125;</span><span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"tr"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"card csat-resp-gdtable csat-border-lg-none"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"row"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"col-6 col-lg-3"</span><span class="code-blue">&gt;</span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"td label d-block d-lg-none"</span><span class="code-blue">&gt;</span><span class="text-black">&#123;&#123; 'Fejléc 1 SM' &#124; _ &#125;&#125;</span><span class="code-blue">&lt;/p&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"td"</span><span class="code-blue">&gt;</span><span class="text-black">&#123;&#123; 'Adat1' &#124; _ &#125;&#125;</span><span class="code-blue">&lt;/p&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                &nbsp;&nbsp;<span class="code-blue">&lt;/div&gt; </span><br/>
                <span class="code-blue">&lt;/div&gt; </span><br/>
                </code>
            </div>
            
        </div>        
    </div>
</div>
