<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">Icons</h5>
        </div>
        
        <div class="col-lg-8 col-md-12">  
            <div class="row align-items-start">
                <h5>{{ 'Méretek' | _ }}</h5>
                {# small #}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card text-center mt-2">
                        <div class="card-header p-2">
                            <h5>{{ 'Kicsi' | _ }}</h5>
                        </div>
                        <div class="card-body" style="height: 80px;">
                            <i class="gear-fill-sm"></i>
                        </div>
                        <div class="card-footer bg-gray">
                        <code>
                            <span class="code-blue">&lt;i</span>
                            <span class="code-bluel">class=</span><span class="code-red">"gear-fill-sm"</span><span class="code-blue">&gt;</span><span class="code-blue">&lt;/i&gt;</span>
                        </code>
                        </div>
                    </div>                    
                </div>

                {# medium #}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card text-center mt-2">
                        <div class="card-header p-2">
                            <h5>{{ 'Közepes' | _ }}</h5>
                        </div>
                        <div class="card-body" style="height: 80px;">
                            <i class="gear-fill-md"></i>
                        </div>
                        <div class="card-footer bg-gray">
                        <code>
                            <span class="code-blue">&lt;i</span>
                            <span class="code-bluel">class=</span><span class="code-red">"gear-fill-md"</span><span class="code-blue">&gt;</span><span class="code-blue">&lt;/i&gt;</span>
                        </code>
                        </div>
                    </div>  
                </div>

                {# large #}
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card text-center mt-2">
                        <div class="card-header p-2">
                            <h5>{{ 'Nagy' | _ }}</h5>
                        </div>
                        <div class="card-body" style="height: 80px;">
                            <i class="gear-fill-lg"></i>
                        </div>
                        <div class="card-footer bg-gray">
                        <code>
                            <span class="code-blue">&lt;i</span>
                            <span class="code-bluel">class=</span><span class="code-red">"gear-fill-lg"</span><span class="code-blue">&gt;</span><span class="code-blue">&lt;/i&gt;</span>
                        </code>
                        </div>
                    </div>  
                </div>
            </div>

            {# List of icons #}
            <div class="row align-items-start mt-3 py-2">
            <h5>{{ 'Ikonok listája' | _ }}</h5>
                <div class="container">
                    <ul class="row row-cols-sm-3 row-cols-md-4 row-cols-lg-6 list-unstyled list text-center">
                        
                        {# add user #}
                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="adduser-fill-md"></i>
                            </div>
                            <p class="small">adduser-fill</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="adduser-out-md"></i>
                            </div>
                            <p class="small">adduser-out</p>
                        </div>
                        </li>

                        {# exit #}
                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="exit-fill-md"></i>
                            </div>
                            <p class="small">exit-fill</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="exit-fill-w-md"></i>
                            </div>
                            <p class="small">exit-fill-w</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="exit-out-md"></i>
                            </div>
                            <p class="small">exit-out</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="exit-out-w-md"></i>
                            </div>
                            <p class="small">exit-out-w</p>
                        </div>
                        </li>

                        {# F #}
                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="f-fill-md"></i>
                            </div>
                            <p class="small">f-fill</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="f-out-md"></i>
                            </div>
                            <p class="small">f-out</p>
                        </div>
                        </li>

                        {# G #}
                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="g-fill-md"></i>
                            </div>
                            <p class="small">g-fill</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="g-out-md"></i>
                            </div>
                            <p class="small">g-out</p>
                        </div>
                        </li>

                        {# gear #}
                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="gear-fill-md"></i>
                            </div>
                            <p class="small">gear-fill</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="gear-out-md"></i>
                            </div>
                            <p class="small">gear-out</p>
                        </div>
                        </li>

                        {# key #}
                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="key-fill-md"></i>
                            </div>
                            <p class="small">key-fill</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="key-out-md"></i>
                            </div>
                            <p class="small">key-out</p>
                        </div>
                        </li>

                        {# magnifier #}
                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="magnifier-fill-md"></i>
                            </div>
                            <p class="small">magnifier-fill</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="magnifier-out-md"></i>
                            </div>
                            <p class="small">magnifier-out</p>
                        </div>
                        </li>

                        {# user #}
                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="user-fill-md"></i>
                            </div>
                            <p class="small">user-fill</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="user-out-md"></i>
                            </div>
                            <p class="small">user-out</p>
                        </div>
                        </li>

                        {# x #}
                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="x-fill-md"></i>
                            </div>
                            <p class="small">x-fill</p>
                        </div>
                        </li>

                        <li class="col mb-4">
                        <div class="d-block text-dark text-decoration-none">
                            <div class="p-3 py-4 mb-2 bg-gray text-center rounded">
                            <i class="x-out-md"></i>
                            </div>
                            <p class="small">x-out</p>
                        </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
