<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h5 class="pb-3">{{ 'Egyéb elemek' | _ }}</h5>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-3">
                    <p class="m-0">{{ 'Válaszvonal 1' | _ }}</p>
                </div>
                <div class="col-8">
                    <hr class="hr-single bg-gray">
                </div>                        
            </div>

            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-8 bg-gray">
                    <code>
                        <span class="code-blue">&lt;hr </span><span class="code-bluel">class=</span><span class="code-red">"hr-single bg-gray"</span><span class="code-blue">&gt;</span>
                    </code>
                </div>                        
            </div>  

            <div class="row pt-5">
                <div class="col-3">
                    <p class="m-0">{{ 'Válaszvonal 2' | _ }}</p>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <div class="separator bg-primary rounded">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <div class="separator bg-secondary rounded">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <div class="separator bg-info rounded">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <div class="separator bg-danger rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-8 bg-gray">
                    <code>
                        <span class="code-blue">&lt;div </span><span class="code-bluel">class=</span><span class="code-red">"separator bg-primary rounded"</span><span class="code-blue">&gt;</span><span class="code-blue">&lt;/div&gt;</span>
                    </code>
                </div>                        
            </div>  
        </div>
    </div>
</div>
