<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-2 col-md-12">
            <h4 class="pb-3">{{ 'Tipográfia' | _ }}</h4>
        </div>
        <div class="col-lg-8 col-md-12">

            {# Geomanist font family #}
            <div class="row">
                <div class="col-6">
                    <p class="m-0">{{ 'Geomanist betűtípus család' | _ }}</p>
                </div>
                <div class="col-6">
                    <p class="m-0 font-pw-400">Geomanist Bold</p>
                    <p class="m-0 font-pw-400 fst-italic">Geomanist Bold Italic</p>
                    <p class="m-0 font-pw-300">Geomanist Regular</p>
                    <p class="m-0 font-pw-300 fst-italic">Geomanist Regular Italic</p>
                    <p class="m-0 font-pw-200">Geomanist Light</p>
                    <p class="m-0 font-pw-200 fst-italic">Geomanist Regular Italic</p>
                    
                </div>                        
            </div>
        
            {# h1 #}
            <div class="row mt-5">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Fejléc 1' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vastag' | _ }}<br/>
                        <code>
                        <span class="bg-gray code-blue">&lt;h1&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h1>
                        Lorem ipsum
                    </h1>
                </div>                        
            </div>

            {# h2 #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Fejléc 2' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vastag' | _ }}<br/>
                        <code>
                        <span class="bg-gray code-blue">&lt;h2&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Lorem ipsum</h2>
                </div>                        
            </div>

            {# h3 #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Fejléc 3' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vastag' | _ }}<br/>
                        <code>
                        <span class="bg-gray code-blue">&lt;h3&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h3>Lorem ipsum</h3>
                </div>                        
            </div>

            {# h4 #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Fejléc 4' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vastag' | _ }}<br/>
                        <code>
                        <span class="bg-gray code-blue">&lt;h4&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4>Lorem ipsum</h4>
                </div>                        
            </div>

            {# h5 #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Fejléc 5' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vastag' | _ }}<br/>
                        <code>
                        <span class="bg-gray code-blue">&lt;h5&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h5>Lorem ipsum</h5>
                </div>                        
            </div>

            {# h6 #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Fejléc 6' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vastag' | _ }}<br/>
                        <code>
                        <span class="bg-gray code-blue">&lt;h6&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h6>Lorem ipsum</h6>
                </div>                        
            </div>

            {# Body / p #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Törzs' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Normál' | _ }}<br/>
                        {{ 'Sormagasság: 1.7' | _ }}<br/>
                        <code>
                        <span class="bg-gray code-blue">&lt;p&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>                        
            </div>

            {# Body light / p #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Vékony' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vékony' | _ }}<br/>
                        {{ 'Sormagasság: 1.7' | _ }}<br/>
                        <code class="bg-gray">
                        <span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"p-light"</span><span class="code-blue">&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="p-light">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>                        
            </div>

            {# Body bold / p #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Vastag' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vastag' | _ }}<br/>
                        {{ 'Sormagasság: 1.7' | _ }}<br/>
                        <code class="bg-gray">
                        <span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"p-bold"</span><span class="code-blue">&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="p-bold">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>                        
            </div>

            {# Small / p #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Kicsi' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vákony' | _ }}<br/>
                        {{ 'Sormagasság: 1.7' | _ }}<br/>
                        <code class="bg-gray">
                        <span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"p-small"</span><span class="code-blue">&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="p-small">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>                        
            </div>

            {# Title / p #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Cím' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Vastag' | _ }}<br/>
                        <code class="bg-gray">
                        <span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"p-title"</span><span class="code-blue">&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="p-title">Lorem ipsum</p>
                </div>                     
            </div>

            {# Body / p error / invalid form #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Hiba üzenet' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Normál' | _ }}<br/>
                        <code class="bg-gray">
                        <span class="code-blue">&lt;p </span><span class="code-bluel">class=</span><span class="code-red">"errormsg"</span><span class="code-blue">&gt;</span>
                        </code><br/>
                        <code class="bg-gray">
                        <span class="code-blue">&lt;</span><span class="code-bluel">class=</span><span class="code-red">"invalid-feedback"</span><span class="code-blue">&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <span class="errormsg">
                    Lorem ipsum dolor sit amet!
                    </span>
                </div>                        
            </div>

            {# Links / a #}
            <div class="row pt-3">
                <div class="col-lg-3 col-md-12">
                    <p class="m-0">{{ 'Hivatkozások' | _ }}</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-start text-lg-end text-md-end text-sm-end">
                    <p class="m-0 lh-sm">
                        {{ 'Betűvastagság: Normál' | _ }}<br/>
                        <code class="bg-gray">
                        <span class="code-blue">&lt;p </span><span class="code-bluel">href=</span><span class="code-red">"#"</span><span class="code-blue">&gt;</span>
                        </code>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a href="#">Lorem</a>
                </div>                  
            </div>
        </div>
    </div>
</div>
