<p class="lead">
    {{ 'Az e-mail, amely tartalmazza az aktiváló kódot, el lett küldve. Kérjük, add meg az új jelszavad (a biztonságod érdekében kérjük, hogy használj erős jelszót, amely legalább 8 karakterből áll és tartalmaz kis-, és nagybetűt, valamint számot/szimbólumot.)' | _ }}
</p>

<form
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'"
    data-request-validate=""
    data-request-flash>
    <div class="form-group">
        <label for="resetCode"> {{ 'Aktiváló kód' | _ }}</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="{{ 'Másold be az aktiváló kódot' | _ }}" value="{{ __SELF__.code }}">
        <span data-validate-for="code">{{ 'Az aktiváló kód kötelező és érvényesnek kell lennie.' | _ }}</span>
    </div>

    <div class="form-group">
        <label for="resetPassword">{{ 'Új jelszó' | _ }}</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="{{ 'Add meg az új jelszót' | _ }}">
        <span data-validate-for="password">{{ 'A jelszó kell tartalmazzon legalább 8 karaktert, kis-, és nagybetűt, valamint számot vagy szimbólumot.' | _ }}</span>
    </div>

    <button type="submit" class="btn btn-default">{{ 'Hozd létre a jelszót' | _ }}</button>
</form>